/*!
Theme Name: Solamar 2015 Theme
Theme URI: http://solamaragency.com/
Author: Solamar Agency
Author URI: http://solamaragency.com/
Description: The 2015 theme for Solamar Agency Clients
Version: 5.0
Text Domain: solamar

*/
/* base */
.font-1 {
  font-size: 1px;
  font-size: mysrem(1); }

.font-2 {
  font-size: 2px;
  font-size: mysrem(2); }

.font-3 {
  font-size: 3px;
  font-size: mysrem(3); }

.font-4 {
  font-size: 4px;
  font-size: mysrem(4); }

.font-5 {
  font-size: 5px;
  font-size: mysrem(5); }

.font-6 {
  font-size: 6px;
  font-size: mysrem(6); }

.font-7 {
  font-size: 7px;
  font-size: mysrem(7); }

.font-8 {
  font-size: 8px;
  font-size: mysrem(8); }

.font-9 {
  font-size: 9px;
  font-size: mysrem(9); }

.font-10 {
  font-size: 10px;
  font-size: mysrem(10); }

.font-11 {
  font-size: 11px;
  font-size: mysrem(11); }

.font-12 {
  font-size: 12px;
  font-size: mysrem(12); }

.font-13 {
  font-size: 13px;
  font-size: mysrem(13); }

.font-14 {
  font-size: 14px;
  font-size: mysrem(14); }

.font-15 {
  font-size: 15px;
  font-size: mysrem(15); }

.font-16 {
  font-size: 16px;
  font-size: mysrem(16); }

.font-17 {
  font-size: 17px;
  font-size: mysrem(17); }

.font-18 {
  font-size: 18px;
  font-size: mysrem(18); }

.font-19 {
  font-size: 19px;
  font-size: mysrem(19); }

.font-20 {
  font-size: 20px;
  font-size: mysrem(20); }

.font-21 {
  font-size: 21px;
  font-size: mysrem(21); }

.font-22 {
  font-size: 22px;
  font-size: mysrem(22); }

.font-23 {
  font-size: 23px;
  font-size: mysrem(23); }

.font-24 {
  font-size: 24px;
  font-size: mysrem(24); }

.font-25 {
  font-size: 25px;
  font-size: mysrem(25); }

.font-26 {
  font-size: 26px;
  font-size: mysrem(26); }

.font-27 {
  font-size: 27px;
  font-size: mysrem(27); }

.font-28 {
  font-size: 28px;
  font-size: mysrem(28); }

.font-29 {
  font-size: 29px;
  font-size: mysrem(29); }

.font-30 {
  font-size: 30px;
  font-size: mysrem(30); }

.font-31 {
  font-size: 31px;
  font-size: mysrem(31); }

.font-32 {
  font-size: 32px;
  font-size: mysrem(32); }

.font-33 {
  font-size: 33px;
  font-size: mysrem(33); }

.font-34 {
  font-size: 34px;
  font-size: mysrem(34); }

.font-35 {
  font-size: 35px;
  font-size: mysrem(35); }

.font-36 {
  font-size: 36px;
  font-size: mysrem(36); }

.font-37 {
  font-size: 37px;
  font-size: mysrem(37); }

.font-38 {
  font-size: 38px;
  font-size: mysrem(38); }

.font-39 {
  font-size: 39px;
  font-size: mysrem(39); }

.font-40 {
  font-size: 40px;
  font-size: mysrem(40); }

.font-41 {
  font-size: 41px;
  font-size: mysrem(41); }

.font-42 {
  font-size: 42px;
  font-size: mysrem(42); }

.font-43 {
  font-size: 43px;
  font-size: mysrem(43); }

.font-44 {
  font-size: 44px;
  font-size: mysrem(44); }

.font-45 {
  font-size: 45px;
  font-size: mysrem(45); }

.font-46 {
  font-size: 46px;
  font-size: mysrem(46); }

.font-47 {
  font-size: 47px;
  font-size: mysrem(47); }

.font-48 {
  font-size: 48px;
  font-size: mysrem(48); }

.font-49 {
  font-size: 49px;
  font-size: mysrem(49); }

.font-50 {
  font-size: 50px;
  font-size: mysrem(50); }

.font-51 {
  font-size: 51px;
  font-size: mysrem(51); }

.font-52 {
  font-size: 52px;
  font-size: mysrem(52); }

.font-53 {
  font-size: 53px;
  font-size: mysrem(53); }

.font-54 {
  font-size: 54px;
  font-size: mysrem(54); }

.font-55 {
  font-size: 55px;
  font-size: mysrem(55); }

.font-56 {
  font-size: 56px;
  font-size: mysrem(56); }

.font-57 {
  font-size: 57px;
  font-size: mysrem(57); }

.font-58 {
  font-size: 58px;
  font-size: mysrem(58); }

.font-59 {
  font-size: 59px;
  font-size: mysrem(59); }

.font-60 {
  font-size: 60px;
  font-size: mysrem(60); }

.font-61 {
  font-size: 61px;
  font-size: mysrem(61); }

.font-62 {
  font-size: 62px;
  font-size: mysrem(62); }

.font-63 {
  font-size: 63px;
  font-size: mysrem(63); }

.font-64 {
  font-size: 64px;
  font-size: mysrem(64); }

.font-65 {
  font-size: 65px;
  font-size: mysrem(65); }

.font-66 {
  font-size: 66px;
  font-size: mysrem(66); }

.font-67 {
  font-size: 67px;
  font-size: mysrem(67); }

.font-68 {
  font-size: 68px;
  font-size: mysrem(68); }

.font-69 {
  font-size: 69px;
  font-size: mysrem(69); }

.font-70 {
  font-size: 70px;
  font-size: mysrem(70); }

.font-71 {
  font-size: 71px;
  font-size: mysrem(71); }

.font-72 {
  font-size: 72px;
  font-size: mysrem(72); }

.font-73 {
  font-size: 73px;
  font-size: mysrem(73); }

.font-74 {
  font-size: 74px;
  font-size: mysrem(74); }

.font-75 {
  font-size: 75px;
  font-size: mysrem(75); }

.font-76 {
  font-size: 76px;
  font-size: mysrem(76); }

.font-77 {
  font-size: 77px;
  font-size: mysrem(77); }

.font-78 {
  font-size: 78px;
  font-size: mysrem(78); }

.font-79 {
  font-size: 79px;
  font-size: mysrem(79); }

.font-80 {
  font-size: 80px;
  font-size: mysrem(80); }

.font-81 {
  font-size: 81px;
  font-size: mysrem(81); }

.font-82 {
  font-size: 82px;
  font-size: mysrem(82); }

.font-83 {
  font-size: 83px;
  font-size: mysrem(83); }

.font-84 {
  font-size: 84px;
  font-size: mysrem(84); }

.font-85 {
  font-size: 85px;
  font-size: mysrem(85); }

.font-86 {
  font-size: 86px;
  font-size: mysrem(86); }

.font-87 {
  font-size: 87px;
  font-size: mysrem(87); }

.font-88 {
  font-size: 88px;
  font-size: mysrem(88); }

.font-89 {
  font-size: 89px;
  font-size: mysrem(89); }

.font-90 {
  font-size: 90px;
  font-size: mysrem(90); }

.font-91 {
  font-size: 91px;
  font-size: mysrem(91); }

.font-92 {
  font-size: 92px;
  font-size: mysrem(92); }

.font-93 {
  font-size: 93px;
  font-size: mysrem(93); }

.font-94 {
  font-size: 94px;
  font-size: mysrem(94); }

.font-95 {
  font-size: 95px;
  font-size: mysrem(95); }

.font-96 {
  font-size: 96px;
  font-size: mysrem(96); }

.font-97 {
  font-size: 97px;
  font-size: mysrem(97); }

.font-98 {
  font-size: 98px;
  font-size: mysrem(98); }

.font-99 {
  font-size: 99px;
  font-size: mysrem(99); }

.font-100 {
  font-size: 100px;
  font-size: mysrem(100); }

.font-101 {
  font-size: 101px;
  font-size: mysrem(101); }

.font-102 {
  font-size: 102px;
  font-size: mysrem(102); }

.font-103 {
  font-size: 103px;
  font-size: mysrem(103); }

.font-104 {
  font-size: 104px;
  font-size: mysrem(104); }

.font-105 {
  font-size: 105px;
  font-size: mysrem(105); }

.font-106 {
  font-size: 106px;
  font-size: mysrem(106); }

.font-107 {
  font-size: 107px;
  font-size: mysrem(107); }

.font-108 {
  font-size: 108px;
  font-size: mysrem(108); }

.font-109 {
  font-size: 109px;
  font-size: mysrem(109); }

.font-110 {
  font-size: 110px;
  font-size: mysrem(110); }

.font-111 {
  font-size: 111px;
  font-size: mysrem(111); }

.font-112 {
  font-size: 112px;
  font-size: mysrem(112); }

.font-113 {
  font-size: 113px;
  font-size: mysrem(113); }

.font-114 {
  font-size: 114px;
  font-size: mysrem(114); }

.font-115 {
  font-size: 115px;
  font-size: mysrem(115); }

.font-116 {
  font-size: 116px;
  font-size: mysrem(116); }

.font-117 {
  font-size: 117px;
  font-size: mysrem(117); }

.font-118 {
  font-size: 118px;
  font-size: mysrem(118); }

.font-119 {
  font-size: 119px;
  font-size: mysrem(119); }

.font-120 {
  font-size: 120px;
  font-size: mysrem(120); }

.letterspacing-1 {
  letter-spacing: 0.01rem; }

.letterspacing-2 {
  letter-spacing: 0.02rem; }

.letterspacing-3 {
  letter-spacing: 0.03rem; }

.letterspacing-4 {
  letter-spacing: 0.04rem; }

.letterspacing-5 {
  letter-spacing: 0.05rem; }

.letterspacing-6 {
  letter-spacing: 0.06rem; }

.letterspacing-7 {
  letter-spacing: 0.07rem; }

.letterspacing-8 {
  letter-spacing: 0.08rem; }

.letterspacing-9 {
  letter-spacing: 0.09rem; }

.letterspacing-10 {
  letter-spacing: 0.1rem; }

.letterspacing-11 {
  letter-spacing: 0.11rem; }

.letterspacing-12 {
  letter-spacing: 0.12rem; }

.letterspacing-13 {
  letter-spacing: 0.13rem; }

.letterspacing-14 {
  letter-spacing: 0.14rem; }

.letterspacing-15 {
  letter-spacing: 0.15rem; }

.letterspacing-16 {
  letter-spacing: 0.16rem; }

.letterspacing-17 {
  letter-spacing: 0.17rem; }

.letterspacing-18 {
  letter-spacing: 0.18rem; }

.letterspacing-19 {
  letter-spacing: 0.19rem; }

.letterspacing-20 {
  letter-spacing: 0.2rem; }

.letterspacing-21 {
  letter-spacing: 0.21rem; }

.letterspacing-22 {
  letter-spacing: 0.22rem; }

.letterspacing-23 {
  letter-spacing: 0.23rem; }

.letterspacing-24 {
  letter-spacing: 0.24rem; }

.letterspacing-25 {
  letter-spacing: 0.25rem; }

.letterspacing-26 {
  letter-spacing: 0.26rem; }

.letterspacing-27 {
  letter-spacing: 0.27rem; }

.letterspacing-28 {
  letter-spacing: 0.28rem; }

.letterspacing-29 {
  letter-spacing: 0.29rem; }

.letterspacing-30 {
  letter-spacing: 0.3rem; }

.letterspacing-31 {
  letter-spacing: 0.31rem; }

.letterspacing-32 {
  letter-spacing: 0.32rem; }

.letterspacing-33 {
  letter-spacing: 0.33rem; }

.letterspacing-34 {
  letter-spacing: 0.34rem; }

.letterspacing-35 {
  letter-spacing: 0.35rem; }

.letterspacing-36 {
  letter-spacing: 0.36rem; }

.letterspacing-37 {
  letter-spacing: 0.37rem; }

.letterspacing-38 {
  letter-spacing: 0.38rem; }

.letterspacing-39 {
  letter-spacing: 0.39rem; }

.letterspacing-40 {
  letter-spacing: 0.4rem; }

.letterspacing-41 {
  letter-spacing: 0.41rem; }

.letterspacing-42 {
  letter-spacing: 0.42rem; }

.letterspacing-43 {
  letter-spacing: 0.43rem; }

.letterspacing-44 {
  letter-spacing: 0.44rem; }

.letterspacing-45 {
  letter-spacing: 0.45rem; }

.letterspacing-46 {
  letter-spacing: 0.46rem; }

.letterspacing-47 {
  letter-spacing: 0.47rem; }

.letterspacing-48 {
  letter-spacing: 0.48rem; }

.letterspacing-49 {
  letter-spacing: 0.49rem; }

.letterspacing-50 {
  letter-spacing: 0.5rem; }

.letterspacing-51 {
  letter-spacing: 0.51rem; }

.letterspacing-52 {
  letter-spacing: 0.52rem; }

.letterspacing-53 {
  letter-spacing: 0.53rem; }

.letterspacing-54 {
  letter-spacing: 0.54rem; }

.letterspacing-55 {
  letter-spacing: 0.55rem; }

.letterspacing-56 {
  letter-spacing: 0.56rem; }

.letterspacing-57 {
  letter-spacing: 0.57rem; }

.letterspacing-58 {
  letter-spacing: 0.58rem; }

.letterspacing-59 {
  letter-spacing: 0.59rem; }

.letterspacing-60 {
  letter-spacing: 0.6rem; }

.letterspacing-61 {
  letter-spacing: 0.61rem; }

.letterspacing-62 {
  letter-spacing: 0.62rem; }

.letterspacing-63 {
  letter-spacing: 0.63rem; }

.letterspacing-64 {
  letter-spacing: 0.64rem; }

.letterspacing-65 {
  letter-spacing: 0.65rem; }

.letterspacing-66 {
  letter-spacing: 0.66rem; }

.letterspacing-67 {
  letter-spacing: 0.67rem; }

.letterspacing-68 {
  letter-spacing: 0.68rem; }

.letterspacing-69 {
  letter-spacing: 0.69rem; }

.letterspacing-70 {
  letter-spacing: 0.7rem; }

.letterspacing-71 {
  letter-spacing: 0.71rem; }

.letterspacing-72 {
  letter-spacing: 0.72rem; }

.letterspacing-73 {
  letter-spacing: 0.73rem; }

.letterspacing-74 {
  letter-spacing: 0.74rem; }

.letterspacing-75 {
  letter-spacing: 0.75rem; }

.letterspacing-76 {
  letter-spacing: 0.76rem; }

.letterspacing-77 {
  letter-spacing: 0.77rem; }

.letterspacing-78 {
  letter-spacing: 0.78rem; }

.letterspacing-79 {
  letter-spacing: 0.79rem; }

.letterspacing-80 {
  letter-spacing: 0.8rem; }

.letterspacing-81 {
  letter-spacing: 0.81rem; }

.letterspacing-82 {
  letter-spacing: 0.82rem; }

.letterspacing-83 {
  letter-spacing: 0.83rem; }

.letterspacing-84 {
  letter-spacing: 0.84rem; }

.letterspacing-85 {
  letter-spacing: 0.85rem; }

.letterspacing-86 {
  letter-spacing: 0.86rem; }

.letterspacing-87 {
  letter-spacing: 0.87rem; }

.letterspacing-88 {
  letter-spacing: 0.88rem; }

.letterspacing-89 {
  letter-spacing: 0.89rem; }

.letterspacing-90 {
  letter-spacing: 0.9rem; }

.lineheight-5 {
  letter-spacing: 0.5; }

.lineheight-6 {
  letter-spacing: 0.6; }

.lineheight-7 {
  letter-spacing: 0.7; }

.lineheight-8 {
  letter-spacing: 0.8; }

.lineheight-9 {
  letter-spacing: 0.9; }

.lineheight-10 {
  letter-spacing: 1; }

.lineheight-11 {
  letter-spacing: 1.1; }

.lineheight-12 {
  letter-spacing: 1.2; }

.lineheight-13 {
  letter-spacing: 1.3; }

.lineheight-14 {
  letter-spacing: 1.4; }

.lineheight-15 {
  letter-spacing: 1.5; }

.lineheight-16 {
  letter-spacing: 1.6; }

.lineheight-17 {
  letter-spacing: 1.7; }

.lineheight-18 {
  letter-spacing: 1.8; }

.lineheight-19 {
  letter-spacing: 1.9; }

.lineheight-20 {
  letter-spacing: 2; }

.lineheight-21 {
  letter-spacing: 2.1; }

.lineheight-22 {
  letter-spacing: 2.2; }

.lineheight-23 {
  letter-spacing: 2.3; }

.lineheight-24 {
  letter-spacing: 2.4; }

.lineheight-25 {
  letter-spacing: 2.5; }

.lineheight-26 {
  letter-spacing: 2.6; }

.lineheight-27 {
  letter-spacing: 2.7; }

.lineheight-28 {
  letter-spacing: 2.8; }

.lineheight-29 {
  letter-spacing: 2.9; }

.lineheight-30 {
  letter-spacing: 3; }

.vpad-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.vpad-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.vpad-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.vpad-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.vpad-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.vpad-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.vpad-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.vpad-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.vpad-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important; }

.vpad-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.vpad-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important; }

.vpad-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.vpad-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important; }

.vpad-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.vpad-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important; }

.vpad-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.vpad-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important; }

.vpad-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important; }

.vpad-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important; }

.vpad-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.vpad-105 {
  padding-top: 105px !important;
  padding-bottom: 105px !important; }

.vpad-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important; }

.vpad-115 {
  padding-top: 115px !important;
  padding-bottom: 115px !important; }

.vpad-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important; }

.vpad-125 {
  padding-top: 125px !important;
  padding-bottom: 125px !important; }

.vpad-130 {
  padding-top: 130px !important;
  padding-bottom: 130px !important; }

.vpad-135 {
  padding-top: 135px !important;
  padding-bottom: 135px !important; }

.vpad-140 {
  padding-top: 140px !important;
  padding-bottom: 140px !important; }

.vpad-145 {
  padding-top: 145px !important;
  padding-bottom: 145px !important; }

.vpad-150 {
  padding-top: 150px !important;
  padding-bottom: 150px !important; }

.vpad-155 {
  padding-top: 155px !important;
  padding-bottom: 155px !important; }

.vpad-160 {
  padding-top: 160px !important;
  padding-bottom: 160px !important; }

.vpad-165 {
  padding-top: 165px !important;
  padding-bottom: 165px !important; }

.vpad-170 {
  padding-top: 170px !important;
  padding-bottom: 170px !important; }

.vpad-175 {
  padding-top: 175px !important;
  padding-bottom: 175px !important; }

.vpad-180 {
  padding-top: 180px !important;
  padding-bottom: 180px !important; }

.vpad-185 {
  padding-top: 185px !important;
  padding-bottom: 185px !important; }

.vpad-190 {
  padding-top: 190px !important;
  padding-bottom: 190px !important; }

.vpad-195 {
  padding-top: 195px !important;
  padding-bottom: 195px !important; }

.vpad-200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important; }

.hpad-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.hpad-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.hpad-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.hpad-20 {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.hpad-25 {
  padding-left: 25px !important;
  padding-right: 25px !important; }

.hpad-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.hpad-35 {
  padding-left: 35px !important;
  padding-right: 35px !important; }

.hpad-40 {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.hpad-45 {
  padding-left: 45px !important;
  padding-right: 45px !important; }

.hpad-50 {
  padding-left: 50px !important;
  padding-right: 50px !important; }

.hpad-55 {
  padding-left: 55px !important;
  padding-right: 55px !important; }

.hpad-60 {
  padding-left: 60px !important;
  padding-right: 60px !important; }

.hpad-65 {
  padding-left: 65px !important;
  padding-right: 65px !important; }

.hpad-70 {
  padding-left: 70px !important;
  padding-right: 70px !important; }

.hpad-75 {
  padding-left: 75px !important;
  padding-right: 75px !important; }

.hpad-80 {
  padding-left: 80px !important;
  padding-right: 80px !important; }

.hpad-85 {
  padding-left: 85px !important;
  padding-right: 85px !important; }

.hpad-90 {
  padding-left: 90px !important;
  padding-right: 90px !important; }

.hpad-95 {
  padding-left: 95px !important;
  padding-right: 95px !important; }

.hpad-100 {
  padding-left: 100px !important;
  padding-right: 100px !important; }

.hpad-105 {
  padding-left: 105px !important;
  padding-right: 105px !important; }

.hpad-110 {
  padding-left: 110px !important;
  padding-right: 110px !important; }

.hpad-115 {
  padding-left: 115px !important;
  padding-right: 115px !important; }

.hpad-120 {
  padding-left: 120px !important;
  padding-right: 120px !important; }

.hpad-125 {
  padding-left: 125px !important;
  padding-right: 125px !important; }

.hpad-130 {
  padding-left: 130px !important;
  padding-right: 130px !important; }

.hpad-135 {
  padding-left: 135px !important;
  padding-right: 135px !important; }

.hpad-140 {
  padding-left: 140px !important;
  padding-right: 140px !important; }

.hpad-145 {
  padding-left: 145px !important;
  padding-right: 145px !important; }

.hpad-150 {
  padding-left: 150px !important;
  padding-right: 150px !important; }

.hpad-155 {
  padding-left: 155px !important;
  padding-right: 155px !important; }

.hpad-160 {
  padding-left: 160px !important;
  padding-right: 160px !important; }

.hpad-165 {
  padding-left: 165px !important;
  padding-right: 165px !important; }

.hpad-170 {
  padding-left: 170px !important;
  padding-right: 170px !important; }

.hpad-175 {
  padding-left: 175px !important;
  padding-right: 175px !important; }

.hpad-180 {
  padding-left: 180px !important;
  padding-right: 180px !important; }

.hpad-185 {
  padding-left: 185px !important;
  padding-right: 185px !important; }

.hpad-190 {
  padding-left: 190px !important;
  padding-right: 190px !important; }

.hpad-195 {
  padding-left: 195px !important;
  padding-right: 195px !important; }

.hpad-200 {
  padding-left: 200px !important;
  padding-right: 200px !important; }

.maxwide-150 {
  max-width: 150px; }

.maxwide-155 {
  max-width: 155px; }

.maxwide-160 {
  max-width: 160px; }

.maxwide-165 {
  max-width: 165px; }

.maxwide-170 {
  max-width: 170px; }

.maxwide-175 {
  max-width: 175px; }

.maxwide-180 {
  max-width: 180px; }

.maxwide-185 {
  max-width: 185px; }

.maxwide-190 {
  max-width: 190px; }

.maxwide-195 {
  max-width: 195px; }

.maxwide-200 {
  max-width: 200px; }

.maxwide-205 {
  max-width: 205px; }

.maxwide-210 {
  max-width: 210px; }

.maxwide-215 {
  max-width: 215px; }

.maxwide-220 {
  max-width: 220px; }

.maxwide-225 {
  max-width: 225px; }

.maxwide-230 {
  max-width: 230px; }

.maxwide-235 {
  max-width: 235px; }

.maxwide-240 {
  max-width: 240px; }

.maxwide-245 {
  max-width: 245px; }

.maxwide-250 {
  max-width: 250px; }

.maxwide-255 {
  max-width: 255px; }

.maxwide-260 {
  max-width: 260px; }

.maxwide-265 {
  max-width: 265px; }

.maxwide-270 {
  max-width: 270px; }

.maxwide-275 {
  max-width: 275px; }

.maxwide-280 {
  max-width: 280px; }

.maxwide-285 {
  max-width: 285px; }

.maxwide-290 {
  max-width: 290px; }

.maxwide-295 {
  max-width: 295px; }

.maxwide-300 {
  max-width: 300px; }

.maxwide-305 {
  max-width: 305px; }

.maxwide-310 {
  max-width: 310px; }

.maxwide-315 {
  max-width: 315px; }

.maxwide-320 {
  max-width: 320px; }

.maxwide-325 {
  max-width: 325px; }

.maxwide-330 {
  max-width: 330px; }

.maxwide-335 {
  max-width: 335px; }

.maxwide-340 {
  max-width: 340px; }

.maxwide-345 {
  max-width: 345px; }

.maxwide-350 {
  max-width: 350px; }

.maxwide-355 {
  max-width: 355px; }

.maxwide-360 {
  max-width: 360px; }

.maxwide-365 {
  max-width: 365px; }

.maxwide-370 {
  max-width: 370px; }

.maxwide-375 {
  max-width: 375px; }

.maxwide-380 {
  max-width: 380px; }

.maxwide-385 {
  max-width: 385px; }

.maxwide-390 {
  max-width: 390px; }

.maxwide-395 {
  max-width: 395px; }

.maxwide-400 {
  max-width: 400px; }

.maxwide-405 {
  max-width: 405px; }

.maxwide-410 {
  max-width: 410px; }

.maxwide-415 {
  max-width: 415px; }

.maxwide-420 {
  max-width: 420px; }

.maxwide-425 {
  max-width: 425px; }

.maxwide-430 {
  max-width: 430px; }

.maxwide-435 {
  max-width: 435px; }

.maxwide-440 {
  max-width: 440px; }

.maxwide-445 {
  max-width: 445px; }

.maxwide-450 {
  max-width: 450px; }

.maxwide-455 {
  max-width: 455px; }

.maxwide-460 {
  max-width: 460px; }

.maxwide-465 {
  max-width: 465px; }

.maxwide-470 {
  max-width: 470px; }

.maxwide-475 {
  max-width: 475px; }

.maxwide-480 {
  max-width: 480px; }

.maxwide-485 {
  max-width: 485px; }

.maxwide-490 {
  max-width: 490px; }

.maxwide-495 {
  max-width: 495px; }

.maxwide-500 {
  max-width: 500px; }

.maxwide-505 {
  max-width: 505px; }

.maxwide-510 {
  max-width: 510px; }

.maxwide-515 {
  max-width: 515px; }

.maxwide-520 {
  max-width: 520px; }

.maxwide-525 {
  max-width: 525px; }

.maxwide-530 {
  max-width: 530px; }

.maxwide-535 {
  max-width: 535px; }

.maxwide-540 {
  max-width: 540px; }

.maxwide-545 {
  max-width: 545px; }

.maxwide-550 {
  max-width: 550px; }

.maxwide-555 {
  max-width: 555px; }

.maxwide-560 {
  max-width: 560px; }

.maxwide-565 {
  max-width: 565px; }

.maxwide-570 {
  max-width: 570px; }

.maxwide-575 {
  max-width: 575px; }

.maxwide-580 {
  max-width: 580px; }

.maxwide-585 {
  max-width: 585px; }

.maxwide-590 {
  max-width: 590px; }

.maxwide-595 {
  max-width: 595px; }

.maxwide-600 {
  max-width: 600px; }

.maxwide-605 {
  max-width: 605px; }

.maxwide-610 {
  max-width: 610px; }

.maxwide-615 {
  max-width: 615px; }

.maxwide-620 {
  max-width: 620px; }

.maxwide-625 {
  max-width: 625px; }

.maxwide-630 {
  max-width: 630px; }

.maxwide-635 {
  max-width: 635px; }

.maxwide-640 {
  max-width: 640px; }

.maxwide-645 {
  max-width: 645px; }

.maxwide-650 {
  max-width: 650px; }

.maxwide-655 {
  max-width: 655px; }

.maxwide-660 {
  max-width: 660px; }

.maxwide-665 {
  max-width: 665px; }

.maxwide-670 {
  max-width: 670px; }

.maxwide-675 {
  max-width: 675px; }

.maxwide-680 {
  max-width: 680px; }

.maxwide-685 {
  max-width: 685px; }

.maxwide-690 {
  max-width: 690px; }

.maxwide-695 {
  max-width: 695px; }

.maxwide-700 {
  max-width: 700px; }

.maxwide-705 {
  max-width: 705px; }

.maxwide-710 {
  max-width: 710px; }

.maxwide-715 {
  max-width: 715px; }

.maxwide-720 {
  max-width: 720px; }

.maxwide-725 {
  max-width: 725px; }

.maxwide-730 {
  max-width: 730px; }

.maxwide-735 {
  max-width: 735px; }

.maxwide-740 {
  max-width: 740px; }

.maxwide-745 {
  max-width: 745px; }

.maxwide-750 {
  max-width: 750px; }

.maxwide-755 {
  max-width: 755px; }

.maxwide-760 {
  max-width: 760px; }

.maxwide-765 {
  max-width: 765px; }

.maxwide-770 {
  max-width: 770px; }

.maxwide-775 {
  max-width: 775px; }

.maxwide-780 {
  max-width: 780px; }

.maxwide-785 {
  max-width: 785px; }

.maxwide-790 {
  max-width: 790px; }

.maxwide-795 {
  max-width: 795px; }

.maxwide-800 {
  max-width: 800px; }

.maxwide-805 {
  max-width: 805px; }

.maxwide-810 {
  max-width: 810px; }

.maxwide-815 {
  max-width: 815px; }

.maxwide-820 {
  max-width: 820px; }

.maxwide-825 {
  max-width: 825px; }

.maxwide-830 {
  max-width: 830px; }

.maxwide-835 {
  max-width: 835px; }

.maxwide-840 {
  max-width: 840px; }

.maxwide-845 {
  max-width: 845px; }

.maxwide-850 {
  max-width: 850px; }

.maxwide-855 {
  max-width: 855px; }

.maxwide-860 {
  max-width: 860px; }

.maxwide-865 {
  max-width: 865px; }

.maxwide-870 {
  max-width: 870px; }

.maxwide-875 {
  max-width: 875px; }

.maxwide-880 {
  max-width: 880px; }

.maxwide-885 {
  max-width: 885px; }

.maxwide-890 {
  max-width: 890px; }

.maxwide-895 {
  max-width: 895px; }

.maxwide-900 {
  max-width: 900px; }

/**
 * Global variables
 */
/* Typography */
@font-face {
  font-family: 'nexa';
  src: url("fonts/nexa_free_bold-webfont.eot");
  src: url("fonts/nexa_free_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nexa_free_bold-webfont.woff2") format("woff2"), url("fonts/nexa_free_bold-webfont.woff") format("woff"), url("fonts/nexa_free_bold-webfont.ttf") format("truetype"), url("fonts/nexa_free_bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'nexa';
  src: url("fonts/nexa_free_light-webfont.eot");
  src: url("fonts/nexa_free_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nexa_free_light-webfont.woff2") format("woff2"), url("fonts/nexa_free_light-webfont.woff") format("woff"), url("fonts/nexa_free_light-webfont.ttf") format("truetype"), url("fonts/nexa_free_light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Sizes */
/* Colors */
/* Structure */
/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 10px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: "nexa", Helvetica, sans-serif; }

body {
  font-family: "nexa", Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #666666;
  line-height: 1.5;
  margin: 0; }

a {
  color: #4261cb;
  text-decoration: none; }

a:focus {
  color: #4261cb;
  text-decoration: none;
  outline: none; }

a:hover,
a:active {
  text-decoration: none;
  color: #37b264;
  outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "nexa", Helvetica, sans-serif;
  line-height: 1.3;
  color: #15007f; }

h1 {
  font-size: 48px;
  font-size: 4.8rem;
  margin: 33px 0; }

h2 {
  font-size: 30px;
  font-size: 3rem;
  margin: 25px 0; }

h3 {
  font-size: 22px;
  font-size: 2.2rem;
  margin: 22px 0; }

h4 {
  font-size: 20px;
  font-size: 2rem;
  margin: 25px 0; }

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 30px 0; }

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 36px 0; }

address {
  font-style: normal;
  margin: 0 0 24px; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

mark {
  background: #ff0;
  color: #666666; }

p {
  margin: 0 0 24px; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

code {
  white-space: normal; }

pre {
  background: #f5f5f5;
  color: #666666;
  font-family: monospace, serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

blockquote {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: normal;
  border-left: 5px solid #f1f5ff;
  margin: 24px 40px; }

blockquote blockquote {
  margin-right: 0; }

blockquote cite,
blockquote small {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase; }

blockquote em,
blockquote i {
  font-style: normal; }

small {
  font-size: smaller; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl {
  margin: 0 20px; }

dt {
  font-weight: normal; }

dd {
  margin: 0 0 20px; }

menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px; }

ul {
  list-style-type: square; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

li > ul,
li > ol {
  margin: 0; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
  padding-right: 2px;
  /* Don't cut off the webkit search cancel button */
  width: auto; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

caption {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 20px 0; }

th {
  font-weight: normal;
  text-transform: uppercase; }

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0; }

del {
  color: #666666; }

ins {
  background: #fff9c0;
  text-decoration: none; }

hr {
  border: 0;
  border-bottom: 1px solid white;
  height: 1px;
  margin: 0 0 40px; }

::-moz-selection {
  background: #4261cb;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #4261cb;
  color: #fff;
  text-shadow: none; }

/* Bootstrap resets */
[class^="col-"], [class*="col-"] {
  padding-left: 0; }

.row, .row .row {
  margin-left: 0;
  margin-right: 0; }

/* Typography */
/* General */
/* Clearing floats */
/* Text treatment */
/* Assistive text */
/* Form fields, general styles first. */
/* Buttons */
/* Placeholder text color -- selectors need to be separate to work. */
/* Responsive images */
/* Images */
/* Fluid Width Video */
/* Layout */
/* columns */
/* spacing */
/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 *
 * Typography 
 * Clearing floats 
 * Form fields, general styles first
 * Buttons
 * Responsive images
 * Images
 * Fluid Width Video
 * Columns
 * Padding 
 * Layouts
 * Effects
 * Colors
 */
/* Typography */
b,
strong,
dt,
th,
.site-title,
.entry-title,
.screen-reader-text:focus,
label {
  font-weight: bold; }

i,
em,
address,
dfn,
blockquote {
  font-style: italic; }

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  vertical-align: text-bottom; }

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
  clear: both; }

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
  content: "";
  display: table; }

/* Assistive text */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:focus {
  background-color: #f1f5ff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #4261cb;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/* Form fields, general styles first. */
button,
input,
textarea {
  font-weight: normal;
  border: 0;
  font-family: inherit;
  padding: 10px; }

input,
textarea {
  color: #666666; }

input:focus,
textarea:focus {
  border: 1px solid #f1f5ff;
  outline: 0; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel] {
  width: 80%; }

textarea {
  width: 90%; }

input,
textarea,
body .gform_wrapper input[type=text], body .gform_wrapper input[type=url], body .gform_wrapper input[type=email], body .gform_wrapper input[type=tel], body .gform_wrapper input[type=number], body .gform_wrapper input[type=password] {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: normal;
  background: #f1f5ff;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline-style: none;
  margin-bottom: 10px;
  padding: 10px; }

ul.gform_fields {
  list-style: none; }

ul.gform_fields li {
  margin-bottom: 20px; }

/* Buttons */
a.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  font-family: "nexa", Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #15007f;
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block;
  padding: 11px 24px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }
  a.button:visited,
  button:visited,
  input[type="submit"]:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited {
    background: #15007f;
    color: white; }
  a.button:hover, a.button:focus,
  button:hover,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus {
    background: #0d004c;
    color: white;
    outline: none; }
  a.button:active,
  button:active,
  input[type="submit"]:active,
  input[type="button"]:active,
  input[type="reset"]:active {
    background: #15007f;
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
    transform: translate(0px, 2px); }

.post-password-required input[type="submit"] {
  padding: 7px 24px 4px;
  vertical-align: bottom; }

.post-password-required input[type="submit"]:active {
  padding: 5px 24px 6px; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #666666; }

:-moz-placeholder {
  color: #666666; }

::-moz-placeholder {
  color: #666666; }

:-ms-input-placeholder {
  color: #666666; }

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  max-width: 100%; }

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; }

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%; }

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%; }

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
  max-width: 100% !important; }

/* Images */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.alignleft {
  margin: 5px 20px 5px 0; }

.wp-caption.alignleft {
  margin: 5px 10px 5px 0; }

img.alignright {
  margin: 5px 0 5px 20px; }

.wp-caption.alignright {
  margin: 5px 0 5px 10px; }

img.aligncenter {
  margin: 5px auto; }

img.alignnone {
  margin: 5px 0; }

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  font-size: 18px;
  font-size: 1.8rem; }

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside; }

/* Fluid Width Video */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Layout */
.center-element {
  margin-left: auto;
  margin-right: auto; }

/* Columns */
.columns.two {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px; }
.columns.three {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px; }
.columns.four {
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px; }
.columns ul, .columns p, .columns div {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0;
  padding-bottom: 24px; }

/* spacing */
.trim {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

/* site */
/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */
.site {
  margin: 0 auto;
  width: 100%; }

.site-main {
  position: relative;
  max-width: 1100px;
  width: auto;
  margin: 0 auto; }

.site-main .sidebar-container {
  width: 100%;
  z-index: 1;
  padding: 40px 0; }

#primary {
  padding: 0 30px; }

.site-main .sidebar-inner {
  margin: 0 auto;
  max-width: 1040px; }

.container {
  max-width: 1100px;
  width: auto;
  margin: 0 auto;
  padding: 0 30px; }

.page-template-page-sidebar-php #primary,
.blog #primary,
.archive #primary,
.tag #primary,
.single #primary {
  float: left;
  width: 66%; }

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */
/* Transformicon */
.lines-button {
  padding: 1.6rem 0.8rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.4571428571rem;
  background: transparent;
  border-bottom: none; }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    background: transparent;
    transition: 0;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px); }

.lines {
  display: inline-block;
  width: 3.2rem;
  height: 0.4571428571rem;
  background: #4261cb;
  border-radius: 0.2285714286rem;
  transition: 0.5s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 3.2rem;
    height: 0.4571428571rem;
    background: #4261cb;
    border-radius: 0.2285714286rem;
    transition: 0.5s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.2285714286rem center;
    transform-origin: 0.2285714286rem center; }
  .lines:before {
    top: 0.8rem; }
  .lines:after {
    top: -0.8rem; }

.lines-button.x.close .lines {
  background: transparent; }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 3.2rem; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
  position: relative; }

.site-header .home-link a {
  color: #666666;
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  text-decoration: none;
  width: 100%; }

.site-title {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1;
  margin: 0; }

/* .site-title span {
	position: absolute;
	top: -99999px;
	left: -99999px;
}
*/
.site-description {
  font: 24px "nexa", Helvetica, sans-serif;
  margin: 0; }

/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */
/* Navbar */
.navbar {
  border-radius: 0;
  min-height: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0; }

.main-navigation {
  clear: both;
  margin: 0 auto;
  max-width: 1100px;
  position: relative; }

ul.nav-menu,
div.nav-menu > ul {
  margin: 0;
  padding: 0; }

.nav-menu li {
  display: inline-block;
  position: relative; }

.nav-menu li a {
  color: #4261cb;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  padding: 15px 20px;
  text-decoration: none; }

.nav-menu li:hover > a,
.nav-menu li a:hover {
  background-color: #4261cb;
  color: white; }

.nav-menu .sub-menu,
.nav-menu .children {
  background-color: #4261cb;
  border-top: 0;
  display: none;
  padding: 0;
  position: absolute;
  z-index: 99999; }

.nav-menu .sub-menu ul,
.nav-menu .children ul {
  border-left: 0;
  left: 100%;
  top: 0; }

ul.nav-menu ul a,
.nav-menu ul ul a {
  color: white;
  margin: 0;
  width: 200px; }

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
  background-color: #5672d1; }

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
  display: block; }

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
  color: #37b264; }

.nav-menu .sub-menu .current_page_item > a,
.nav-menu .sub-menu .current_page_ancestor > a,
.nav-menu .sub-menu .current-menu-item > a,
.nav-menu .sub-menu .current-menu-ancestor > a {
  color: white; }

.nav-menu .sub-menu li a {
  line-height: 1.5; }

.menu-toggle {
  display: none; }

.navbar button {
  padding: 11px 0 10px; }

.navbar button:hover, .navbar button:focus {
  background: transparent; }

.site-header .search-form {
  position: absolute;
  right: 20px;
  top: 1px; }

.site-header .search-field {
  background-color: transparent;
  background-image: url(images/search-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  -moz-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  width: 0; }

.site-header .search-field:focus {
  background-color: white;
  border: 2px solid #f1f5ff;
  cursor: text;
  outline: 0;
  width: 230px; }

/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */
.hentry {
  padding: 40px 0; }

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0; }

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
  max-width: 1100px;
  padding: 0 0 0 20px; }

/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */
.sidebar .entry-header .entry-meta {
  padding: 0; }

.entry-thumbnail img {
  display: block;
  margin: 0 auto 10px; }

.entry-header {
  margin-bottom: 30px; }

.page-header {
  border-bottom: 0; }

.entry-title {
  font-size: 36px;
  font-size: 3.6rem;
  margin: 0 0 5px; }

.entry-title a {
  font-size: 36px;
  font-size: 3.6rem;
  color: #4261cb; }

.entry-title a:hover {
  text-decoration: none;
  color: #37b264; }

/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */
.entry-meta {
  clear: both;
  font-size: 14px;
  font-size: 1.4rem;
  padding-left: 0; }

.entry-meta .fa,
.entry-meta a .fa,
.entry-meta a {
  color: #37b264; }

.entry-meta a:hover {
  color: #4261cb; }

.entry-meta > span {
  margin-right: 20px; }

.entry-meta > span:last-child {
  margin-right: 0; }

.single-author .entry-meta .author {
  display: none; }

/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */
.lead {
  font-size: 26px;
  font-size: 2.6rem; }

.entry-content {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-wrap: break-word; }

.entry-content blockquote {
  font-size: 24px;
  font-size: 2.4rem; }

.entry-content blockquote p {
  line-height: 1.5; }

.entry-content blockquote cite,
.entry-content blockquote small {
  font-size: 16px;
  font-size: 1.6rem; }

footer.entry-meta {
  margin-top: 24px; }

/* Page links */
.page-links {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.2;
  margin: 20px 0;
  text-transform: uppercase; }

.page-links a,
.page-links > span {
  background: white;
  border: 1px solid white;
  padding: 5px 10px;
  text-decoration: none; }

.page-links a {
  background: #4261cb;
  border: 1px solid #4261cb;
  color: white; }

.page-links a:hover {
  background: white;
  color: #37b264; }

.page-links .page-links-title {
  background: transparent;
  border: none;
  margin-right: 20px;
  padding: 0; }

/* Media Elements */
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
  background-color: #666666; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: white; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #4261cb; }

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #666666; }

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  border-radius: 0; }

/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */
.gallery {
  margin-bottom: 20px;
  margin-left: -4px; }

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative; }

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 20px; }

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
  text-align: center; }

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width: calc(25% - 4px); }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width: calc(20% - 4px); }

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width: calc(16.7% - 4px); }

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width: calc(14.28% - 4px); }

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width: calc(12.5% - 4px); }

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width: calc(11.1% - 4px); }

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%; }

.gallery-caption:before {
  box-shadow: 0 -10px 15px #000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

.gallery-item:hover .gallery-caption {
  opacity: 1; }

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/**
 * 5.5 Attachments
 * ----------------------------------------------------------------------------
 */
.attachment .hentry {
  margin: 0;
  padding: 0; }

.attachment .entry-header {
  margin-bottom: 0;
  max-width: 1040px;
  padding: 30px 0; }

.attachment .entry-title {
  display: inline-block;
  float: left;
  font: 30px "nexa", Helvetica, sans-serif;
  margin: 0; }

.attachment .entry-title:before {
  content: "\f416";
  font-size: 32px;
  font-size: 3.2rem;
  margin-right: 10px; }

.attachment .entry-meta {
  clear: none;
  color: inherit;
  float: right;
  max-width: 1040px;
  padding: 9px 0 0;
  text-align: right; }

.hentry.attachment:not(.image-attachment) .entry-meta {
  max-width: 104px; }

.attachment footer.entry-meta,
.single-attachment .site-main .sidebar-container {
  display: none; }

.attachment-meta:before {
  content: "\f307"; }

.full-size-link a:before {
  content: "\f402"; }

.full-size-link:before {
  content: none; }

.attachment .entry-meta a,
.attachment .entry-meta .edit-link:before,
.attachment .full-size-link:before {
  color: #4261cb; }

.attachment .entry-content {
  max-width: 100%;
  padding: 40px 0; }

.image-navigation {
  margin: 0 auto;
  max-width: 1040px;
  position: relative; }

.image-navigation a:hover {
  text-decoration: none; }

.image-navigation .nav-previous,
.image-navigation .nav-next {
  position: absolute;
  top: 50px; }

.image-navigation .nav-previous {
  left: 0; }

.image-navigation .nav-next {
  right: 0; }

.image-navigation .meta-nav {
  font-size: 32px;
  font-size: 3.2rem;
  vertical-align: -4px; }

.attachment .entry-attachment,
.attachment p.attachment {
  margin: 0 auto;
  max-width: 724px;
  text-align: center; }

.attachment .entry-attachment .attachment {
  display: inline-block; }

.attachment .entry-caption {
  text-align: left; }

.attachment .entry-description {
  margin: 20px auto 0;
  max-width: 1040px; }

.attachment .entry-caption p:last-child,
.attachment .entry-description p:last-child {
  margin: 0; }

img.circle-pic {
  border-radius: 100%; }

/**
 * 5.6 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */
.navigation .nav-previous {
  float: left; }

.navigation .nav-next {
  float: right; }

.navigation a {
  color: #4261cb; }

.navigation a:hover {
  color: #37b264;
  text-decoration: none; }

.paging-navigation {
  padding: 40px 0; }

.paging-navigation .nav-links {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%; }

.paging-navigation .nav-next {
  padding: 13px 0; }

.paging-navigation a {
  font-size: 16px;
  font-size: 1.6rem; }

.paging-navigation .nav-next {
  padding: 0; }

.post-navigation {
  color: #4261cb;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 20px 0; }

.post-navigation .nav-links {
  margin: 0 auto; }

.post-navigation a[rel="next"] {
  float: right;
  text-align: right; }

/**
 * 5.7 Author Bio
 * ----------------------------------------------------------------------------
 */
.author-info {
  margin: 0 auto;
  max-width: 1040px;
  padding: 30px 0 10px;
  text-align: left;
  width: 100%; }

.author.sidebar .author-info {
  max-width: 1040px;
  padding: 30px 376px 10px 60px; }

.single .author-info {
  padding: 50px 0 0; }

.author-avatar .avatar {
  float: left;
  margin: 0 30px 30px 0; }

.author-description .author-title {
  clear: none;
  font: 20px "nexa", Helvetica, sans-serif;
  margin: 0 0 8px; }

.author-link {
  color: #4261cb;
  margin-left: 2px; }

.author.archive .author-link {
  display: none; }

/**
 * 5.8 Archives
 * ----------------------------------------------------------------------------
 */
.archive-title,
.archive-meta {
  font: 30px "nexa", Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1040px;
  padding: 30px 0;
  width: 100%; }

.archive-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: -15px;
  padding: 0 0 11px; }

.sidebar .archive-meta {
  padding-right: 316px; }

/**
 * 5.9 Search Results/No posts
 * ----------------------------------------------------------------------------
 */
.page-title {
  font: 30px "nexa", Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1040px;
  padding: 30px 0;
  width: 100%; }

.page-content {
  margin: 0 auto;
  max-width: 1040px;
  padding: 40px 0;
  width: 100%; }

.sidebar .page-content {
  margin: 0 auto;
  max-width: 1040px;
  padding: 40px 376px 40px 60px; }

/**
 * 5.10 404
 * ----------------------------------------------------------------------------
 */
.error404 #primary {
  width: 100%; }

.error404 .page-title {
  line-height: 0.6;
  margin: 0;
  padding: 190px;
  position: relative;
  text-align: center;
  width: auto; }

.error404 .page-title:before {
  color: #e2eaff;
  content: "\f423";
  font-size: 964px;
  font-size: 96.4rem;
  line-height: 0.6;
  overflow: hidden;
  position: absolute;
  left: 7px;
  top: 28px; }

.error404 .page-header,
.error404 .page-content {
  margin: 0 auto;
  max-width: 1040px;
  padding-bottom: 40px;
  width: 100%; }

/**
 * 5.11 Comments
 * ----------------------------------------------------------------------------
 */
.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%; }

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 376px; }

.comments-title {
  font: 28px "nexa", Helvetica, sans-serif; }

.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0; }

.comment-list .children {
  margin-left: 20px; }

.comment-list > li:after,
.comment-list .children > li:before {
  background: url(images/dotted-line.png) repeat left top;
  background-size: 4px 4px;
  content: "";
  display: block;
  height: 1px;
  width: 100%; }

.comment-list > li:last-child:after {
  display: none; }

.comment-body {
  padding: 24px 0;
  position: relative; }

.comment-author {
  float: left;
  max-width: 74px; }

.comment-author .avatar {
  display: block;
  margin-bottom: 10px; }

.comment-author .fn {
  word-wrap: break-word; }

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
  color: #4261cb;
  font-size: 14px;
  font-size: 1.4rem; }

.says {
  display: none; }

.no-avatars .comment-author {
  margin: 0 0 5px;
  max-width: 100%;
  position: relative; }

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
  width: 100%; }

.bypostauthor > .comment-body .fn:before {
  content: "\f408";
  vertical-align: text-top; }

.comment-list .edit-link {
  margin-left: 20px; }

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
  float: right;
  width: 79%;
  width: -webkit-calc(100% - 124px);
  width: calc(100% - 124px); }

.comment-meta,
.comment-meta a {
  color: #666666;
  font-size: 13px;
  font-size: 1.3rem; }

.comment-meta a:hover {
  color: #37b264; }

.comment-metadata {
  margin-bottom: 20px; }

.ping-meta {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 2; }

.comment-awaiting-moderation:before {
  content: "\f414";
  margin-right: 5px;
  position: relative;
  top: -2px; }

.comment-reply-link:before,
.comment-reply-login:before {
  content: "\f412";
  margin-right: 3px; }

/* Comment form */
.comment .comment-respond {
  margin-bottom: 20px;
  padding: 20px; }

.comment-reply-title {
  font: 28px "nexa", Helvetica, sans-serif; }

.comment-reply-title small a {
  color: #4261cb;
  display: inline-block;
  float: right;
  height: 16px;
  overflow: hidden;
  width: 16px; }

.comment-reply-title small a:hover {
  color: #37b264;
  text-decoration: none; }

.comment-reply-title small a:before {
  content: "\f406";
  vertical-align: top; }

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
  padding: 0; }

.comment-form .comment-notes {
  margin-bottom: 15px; }

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  margin-bottom: 8px; }

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
  float: left;
  padding: 5px 0;
  width: 120px; }

.comment-form .required {
  color: #4261cb; }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  max-width: 270px;
  width: 60%; }

.comment-form textarea {
  width: 100%; }

.form-allowed-tags,
.form-allowed-tags code {
  color: #666666;
  font-size: 12px;
  font-size: 1.2rem;
  display: none; }

.form-allowed-tags code {
  font-size: 10px;
  font-size: 1rem;
  margin-left: 3px; }

.comment-list .pingback,
.comment-list .trackback {
  padding-top: 24px; }

.comment-navigation {
  font-size: 20px;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 1040px;
  padding: 20px 0 30px;
  width: 100%; }

.no-comments {
  background-color: #f1f5ff;
  font-size: 20px;
  font-size: 2rem;
  margin: 0;
  padding: 40px 0;
  text-align: center; }

.sidebar .no-comments {
  padding-left: 60px;
  padding-right: 376px; }

/**
 * 5.12 Multisite
 * ----------------------------------------------------------------------------
 */
.site-main .mu_register {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%; }

.mu_alert {
  margin-top: 25px; }

.site-main .mu_register input[type="submit"],
.site-main .mu_register #blog_title,
.site-main .mu_register #user_email,
.site-main .mu_register #blogname,
.site-main .mu_register #user_name {
  font-size: inherit;
  width: 270px; }

.site-main .mu_register input[type="submit"] {
  width: auto; }

/**
 * 6.0 Sidebar
 * ----------------------------------------------------------------------------
 */
.site-main .widget-area {
  float: right;
  width: 33%; }

/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */
.widget {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  margin: 0 0 24px;
  word-wrap: break-word; }

.widget .widget-title {
  font: 20px "nexa", Helvetica, sans-serif;
  margin: 0 0 10px; }

.widget ul,
.widget ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.widget li {
  padding: 5px 0; }

.widget .children li:last-child {
  padding-bottom: 0; }

.widget li > ul,
.widget li > ol {
  margin-left: 20px; }

.widget a {
  color: #4261cb; }

.widget a:hover {
  color: #37b264; }

/* Search widget */
.search-form .search-submit {
  display: none; }

/* RSS Widget */
.widget_rss .rss-date {
  display: block; }

/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
  border: 0;
  border-collapse: separate;
  border-spacing: 1px; }

.widget_calendar caption {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0; }

.widget_calendar th,
.widget_calendar td {
  padding: 0;
  text-align: center; }

.widget_calendar a {
  display: block; }

.widget_calendar a:hover {
  background-color: rgba(0, 0, 0, 0.15); }

.widget_calendar tbody td {
  background-color: rgba(255, 255, 255, 0.5); }

.site-footer .widget_calendar tbody td {
  background-color: rgba(255, 255, 255, 0.05); }

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
  background-color: transparent; }

/* Social Media Widget */
.solamar-social-network-widget [class^="fa-"],
.solamar-social-network-widget [class*="fa-"] {
  width: auto;
  height: auto;
  margin: 0 5px; }

.solamar-social-network-widget .fa:before {
  font-size: 22px;
  font-size: 2.2rem; }

/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */
.site-footer {
  background-color: #f1f5ff;
  text-align: left;
  clear: both; }

.site-footer .widget-area,
.sidebar .site-footer {
  text-align: left; }

.site-footer a {
  color: #37b264; }

.site-footer .sidebar-container {
  background-color: #f1f5ff;
  padding: 40px 0; }

.site-footer .widget-area {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%; }

.sidebar .site-footer .widget-area {
  max-width: 1100px;
  position: relative; }

.sidebar .site-footer .widget:nth-of-type(4),
.sidebar .site-footer .widget:nth-of-type(3) {
  margin-right: 0; }

.site-info {
  font-size: 15px;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 30px; }

#wpstats {
  display: block;
  margin: -10px auto 0; }

/**
 * 7.5 Pages
 * ----------------------------------------------------------------------------
 */
#home .hentry {
  padding-top: 0; }

#home h1.entry-title {
  display: none; }

/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
@media (max-width: 1599px) {
  .site {
    border: 0; } }
@media (max-width: 1069px) {
  #primary {
    width: auto;
    padding: 0 10px; }

  .entry-header, .entry-content, .entry-summary, footer.entry-meta {
    padding: 0 20px; }

  .sidebar img.alignleft,
  .sidebar .wp-caption.alignleft {
    margin-left: 0; }

  .sidebar img.alignright,
  .sidebar .wp-caption.alignright {
    margin-right: 0; }

  .error404 .page-header {
    margin-left: auto;
    max-width: 604px;
    width: 100%; }

  .archive-header,
  .search .page-header,
  .archive .page-header,
  .blog .page-header,
  .error404 .page-content,
  .search .page-content,
  .archive .page-content,
  .attachment .entry-header,
  .attachment .entry-content,
  .post-navigation .nav-links,
  .sidebar .site-info,
  .site-footer .widget-area {
    padding-left: 20px;
    padding-right: 20px; }

  .error404 .page-title {
    font-size: 20px;
    font-size: 2rem;
    padding: 120px; }

  .error404 .page-title:before {
    font-size: 554px;
    font-size: 55.4rem; }

  .attachment .image-navigation {
    max-width: 724px; }

  .image-navigation .nav-previous,
  .image-navigation .nav-next {
    position: static; }

  .comments-title,
  .comment-list,
  .comment-reply-title,
  .must-log-in,
  .comment-respond .comment-form,
  .comment-respond iframe {
    padding: 0 20px; } }
@media (max-width: 999px) {
  .sidebar .entry-header,
  .sidebar .entry-content,
  .sidebar .entry-summary,
  .sidebar .entry-meta,
  .sidebar .comment-list,
  .sidebar .comment-reply-title,
  .sidebar .comment-navigation,
  .sidebar .comment-respond .comment-form,
  .sidebar .featured-gallery,
  .sidebar .post-navigation .nav-links,
  .author.sidebar .author-info {
    max-width: 1040px;
    padding-left: 0;
    padding-right: 0; }

  .sidebar .site-info,
  .search.sidebar .page-content,
  .blog.sidebar .page-content,
  .attachment .entry-header,
  .sidebar .comments-title {
    max-width: 1040px; }

  .sidebar .archive-meta,
  .attachment .entry-header,
  .search.sidebar .page-content,
  .blog.sidebar .page-content,
  .sidebar .site-info,
  .sidebar .comments-title,
  .sidebar .no-comments {
    padding-left: 0;
    padding-right: 0; }

  .attachment .entry-meta {
    float: left;
    text-align: left;
    width: 100%; }

  .attachment .entry-content {
    max-width: 100%;
    padding: 40px 0; }

  .sidebar .paging-navigation .nav-links {
    padding: 0 60px; }

  .sidebar .site-footer .widget-area {
    max-width: 100%;
    left: 0; } }
@media (max-width: 850px) {
  .page-template-page-sidebar-php #primary,
  .blog #primary,
  .archive #primary,
  .tag #primary,
  .single #primary {
    width: auto;
    padding: 0 10px; }

  .site-main .sidebar-container {
    clear: both;
    margin: 0 auto;
    position: relative;
    padding: 40px 30px; }

  .site-main .widget-area {
    float: none;
    margin: 0;
    width: auto; }

  .site-info {
    padding: 40px 30px; } }
/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0; }

  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0; }

  .attachment .image-navigation,
  .attachment .entry-attachment .attachment {
    max-width: 1040px;
    padding: 0;
    width: 100%; }

  .gallery-caption {
    display: none; }

  .columns.two {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; }
  .columns.three {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; }
  .columns.four {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; } }
@media (max-width: 643px) {
  .site-title {
    font-size: 30px;
    font-size: 3rem; }

  #content .entry-header,
  #content .entry-content,
  #content .entry-summary,
  #content footer.entry-meta,
  #content .featured-gallery,
  .search.sidebar .page-content,
  .blog.sidebar .page-content,
  .sidebar .post-navigation .nav-links,
  .paging-navigation .nav-links,
  #content .author-info,
  .comments-area .comments-title,
  .comments-area .comment-list,
  .comments-area .comment-navigation,
  .sidebar .site-info,
  .sidebar .paging-navigation .nav-links {
    padding-left: 20px;
    padding-right: 20px; }

  /* Small menu */
  .menu-toggle {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -47px;
    margin: 0; }

  .toggled-on .nav-menu,
  .toggled-on .nav-menu > ul {
    text-align: center;
    display: block;
    padding: 0;
    width: 100%; }

  .toggled-on li,
  .toggled-on .children {
    display: block; }

  .toggled-on .nav-menu li {
    border-bottom: 1px solid #e2e7f7; }

  .toggled-on .nav-menu ul li {
    border-bottom: 0; }

  .toggled-on .nav-menu li > ul {
    background-color: transparent;
    display: none;
    float: none;
    position: relative;
    left: auto;
    top: auto; }

  .toggled-on .nav-menu li > ul a {
    color: #92a4e1;
    width: auto; }

  .toggled-on .nav-menu li:hover > a,
  .toggled-on .nav-menu .children a {
    background-color: transparent;
    color: #4261cb; }

  .toggled-on .nav-menu li a:hover,
  .toggled-on .nav-menu ul a:hover {
    background-color: #4261cb;
    color: white; }

  ul.nav-menu,
  div.nav-menu > ul {
    display: none; }

  .main-navigation .nav-menu {
    margin-top: 20px; }

  .lead {
    font-size: 22px;
    font-size: 2.2rem; }

  #content .featured-gallery {
    padding-left: 24px; }

  .gallery-columns-1 .gallery-item {
    margin-right: 0;
    width: 100%; }

  .error404 .page-title {
    padding: 40px 0 0; }

  .error404 .page-title:before {
    content: normal; }

  .comment-author {
    margin-right: 30px; }

  .comment-author .avatar {
    height: auto;
    max-width: 100%; }

  .comment-metadata,
  .comment-content,
  .comment-list .reply {
    width: 70%;
    width: -webkit-calc(100% - 104px);
    width: calc(100% - 104px); }

  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form input[type="url"] {
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px); }

  .comment-form textarea {
    height: 80px;
    /* Smaller field for mobile. */ }

  img.alignleft,
  img.alignright,
  .entry-content img.alignleft,
  .entry-content img.alignright {
    display: block;
    float: none;
    margin: 0 auto 20px; } }
@media (max-width: 450px) {
  .columns.two {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; }
  .columns.three {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; }
  .columns.four {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; } }
/* Mobile devices */
@media (max-width: 359px) {
  /* fixes issue on IOS where search bar does not expand. */
  .site-header .search-field:focus {
    font-size: 16px;
    font-size: 1.6rem;
    min-width: 200px; }

  .gallery {
    margin-left: 0; }

  .gallery .gallery-item,
  .gallery-columns-2.gallery-size-thumbnail .gallery-item {
    max-width: none;
    width: 49%;
    width: -webkit-calc(50% - 4px);
    width: calc(50% - 4px); }

  .gallery-columns-1.gallery-size-medium,
  .gallery-columns-1.gallery-size-thumbnail,
  .gallery-columns-2.gallery-size-thumbnail,
  .gallery-columns-3.gallery-size-thumbnail {
    display: block; }

  .gallery-columns-1 .gallery-item,
  .gallery-columns-1.gallery-size-medium .gallery-item,
  .gallery-columns-1.gallery-size-thumbnail .gallery-item {
    text-align: center;
    width: 98%;
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px); }

  .gallery-columns-3 .gallery-item:nth-of-type(3n),
  .gallery-columns-5 .gallery-item:nth-of-type(5n),
  .gallery-columns-7 .gallery-item:nth-of-type(7n),
  .gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 4px; }

  .gallery br {
    display: none; }

  .gallery .gallery-item:nth-of-type(even) {
    margin-right: 0; }

  /* Comments */
  .comment-author {
    margin: 0 0 5px;
    max-width: 100%; }

  .comment-author .avatar {
    display: inline;
    margin: 0 5px 0 0;
    max-width: 20px; }

  .comment-metadata,
  .comment-content,
  .comment-list .reply {
    width: 100%; } }
/**
 * 9.0 Print
 * ----------------------------------------------------------------------------
 */
/* Retina-specific styles. */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .site-header .search-field {
    background-image: url(images/search-icon-2x.png); }

  .format-audio .audio-content,
  .format-status .entry-content:before,
  .format-status .entry-meta:before,
  .comment-list > li:after,
  .comment-list .children > li:before {
    background-image: url(images/dotted-line-2x.png); } }
@media print {
  body {
    background: none !important;
    color: #000;
    font-size: 10pt; }

  footer a[rel="bookmark"]:link:after,
  footer a[rel="bookmark"]:visited:after {
    content: " [" attr(href) "] ";
    /* Show URLs */ }

  .site {
    max-width: 98%; }

  .site-header {
    background-image: none !important; }

  .site-header .home-link {
    max-width: none;
    min-height: 0; }

  .site-title {
    color: #000;
    font-size: 21pt; }

  .site-description {
    font-size: 10pt; }

  .author-avatar,
  .site-footer,
  .comment-respond,
  .comments-area .comment-edit-link,
  .comments-area .reply,
  .comments-link,
  .entry-meta .edit-link,
  .page-links,
  .site-content nav,
  .widget-area,
  .main-navigation,
  .navbar,
  .more-link {
    display: none; }

  .entry-header,
  .entry-content,
  .entry-summary,
  .entry-meta {
    margin: 0;
    width: 100%; }

  .page-title,
  .entry-title {
    font-size: 21pt; }

  .entry-meta,
  .entry-meta a {
    color: #444;
    font-size: 10pt; }

  .entry-content img.alignleft,
  .entry-content .wp-caption.alignleft {
    margin-left: 0; }

  .entry-content img.alignright,
  .entry-content .wp-caption.alignright {
    margin-right: 0; }

  .format-image .entry-content .size-full {
    margin: 0; }

  /* Remove colors from post formats */
  .hentry {
    background-color: #fff; }

  /* Comments */
  .comments-area > li.comment {
    background: none;
    position: relative;
    width: auto; }

  .comment-metadata {
    float: none; }

  .comment-author .fn,
  .comment-reply-link,
  .comment-reply-login {
    color: #333; } }
