/**
 * 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media (max-width: 1599px) {
	.site {
		border: 0;
	}
}
@media (max-width: 1265px) {
	.left-side-wrap, .right-side-wrap {
		margin-top:50px;
	}
	.hero .box-title {
	    @include font-size-stack(40px);
	    max-width: 220px;
	}
}
@media (max-width: 1199px) {
	.feature-wrap {
	    padding-bottom: 31.2077%;
	}
	.feature-wrap .feature-overlay {
		padding-bottom:65%;
	}
	.feature-wrap .entry-title {
		line-height: 1;
	}
	.feature-wrap .entry-title a {
		@include font-size-stack(32px);
	}
}

@media (max-width: 1135px) {
	.navbar {
		width:520px;
	}
	.page-template-page-sales section.buildmove-nav .navbar {
		width:100%;
	}
	.nav-menu li a {
		@include font-size-stack(14px);
		padding: 5px 8px;
	}
	.site-header .social-media {
		margin-top:8px;
	}
}

@media (max-width: 1069px) {
	#primary {
		width: auto;
		padding: 0 10px;
	}
	.entry-header, .entry-content, .entry-summary, footer.entry-meta {
		padding: 0 20px;
	}
	.sidebar img.alignleft,
	.sidebar .wp-caption.alignleft {
		margin-left: 0;
	}

	.sidebar img.alignright,
	.sidebar .wp-caption.alignright {
		margin-right: 0;
	}

	.error404 .page-header {
		margin-left: auto;
		max-width: $site-content-width-narrow;
		width: 100%;
	}

	.archive-header,
	.search .page-header,
	.archive .page-header,
	.blog .page-header,
	.error404 .page-content,
	.search .page-content,
	.archive .page-content,
	.attachment .entry-header,
	.attachment .entry-content,
	.post-navigation .nav-links,
	.sidebar .site-info,
	.site-footer .widget-area {
		padding-left: 20px;
		padding-right: 20px;
	}

	.error404 .page-title {
    @include font-size-stack(20px);
		padding: 120px;
	}

	.error404 .page-title:before {
    @include font-size-stack(554px);
	}

	.attachment .image-navigation {
		max-width: 724px;
	}

	.image-navigation .nav-previous,
	.image-navigation .nav-next {
		position: static;
	}

	.comments-title,
	.comment-list,
	.comment-reply-title,
	.must-log-in,
	.comment-respond .comment-form,
	.comment-respond iframe {
		padding: 0 20px;
	}
	.left-side-wrap, .right-side-wrap {
		margin-top:30px;
	}
	.hero .box-title {
	    @include font-size-stack(30px);
	    max-width: 200px;
	}
}

@media (max-width: 999px) {
	.sidebar .entry-header,
	.sidebar .entry-content,
	.sidebar .entry-summary,
	.sidebar .entry-meta,
	.sidebar .comment-list,
	.sidebar .comment-reply-title,
	.sidebar .comment-navigation,
	.sidebar .comment-respond .comment-form,
	.sidebar .featured-gallery,
	.sidebar .post-navigation .nav-links,
	.author.sidebar .author-info {
		max-width: $site-inner-content-width-max;
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar .site-info,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.attachment .entry-header,
	.sidebar .comments-title {
		max-width: $site-inner-content-width-max;
	}

	.sidebar .archive-meta,
	.attachment .entry-header,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.sidebar .site-info,
	.sidebar .comments-title,
	.sidebar .no-comments {
		padding-left: 0;
		padding-right: 0;
	}

	.attachment .entry-meta {
		float: left;
		text-align: left;
		width: 100%;
	}

	.attachment .entry-content {
		max-width: 100%;
		padding: 40px 0;
	}

	.sidebar .paging-navigation .nav-links {
		padding: 0 60px;
	}

	.sidebar .site-footer .widget-area {
		max-width: 100%;
		left: 0;
	}
}
@media (max-width: 991px) {
	.feature-wrap {
	    padding-bottom: 64.0064%;
	}
	.feature-wrap .feature-overlay {
		padding-bottom:67%;
	}
	.testimonials .testimonial-tag-wrap {
		border:none;
		padding-right:0;
	}
	.testimonials .testimonial-tag-wrap .heart {
		float:none;
		margin: 0 auto 20px;
	}
	.testimonials .testimonial-tag-wrap .testimonial-tag {
		text-align: center;
    	float: none;
    	padding: 0;
	}
}

@media (max-width: 870px) {
	.nav-menu li a {
		padding: 5px 8px;
	}
	.navbar {
	    width: 420px;
	}
	.page-template-page-sales section.buildmove-nav .navbar {
		width: 100%;
	}
}


@media (max-width: 850px) {
	.page-template-page-sidebar-php #primary,
	.blog #primary,
	.archive #primary,
	.tag #primary,
	.single #primary {
		width: auto;
		padding: 0 10px;
	}

	.site-main .sidebar-container {
		clear: both;
		margin: 0 auto;
		position: relative;
		padding: 40px 30px;
	}

	.site-main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	.entry-content img.alignleft,
	.entry-content .wp-caption.alignleft {
		margin-left: 0;
	}

	.entry-content img.alignright,
	.entry-content .wp-caption.alignright {
		margin-right: 0;
	}

	.attachment .image-navigation,
	.attachment .entry-attachment .attachment {
		max-width: $site-inner-content-width-max;
		padding: 0;
		width: 100%;
	}

	.gallery-caption {
		display: none;
	}

  .columns {

    &.two {
      @include columns( 2 );
      @include column-gap( 30px );
    }
    &.three {
      @include columns( 2 );
      @include column-gap( 30px );
    }
    &.four {
      @include columns( 2 );
      @include column-gap( 30px );
    }
  }
  .site-title {
    margin: 0 auto;
    float:none;
	}
  .navbar {
  	float:none;
  	border:none;
  	width:100%;
  	text-align:center;
  }
  .site-header .social-media {
  	float:none;
  	text-align: center;
  }
  .center-wrap {
	    width: 100%;
	    padding: 0 30px;
  }
  .hero {
  	padding-top:0;
  	padding-bottom: 40px;
  }
  .left-side-wrap {
  	margin-bottom: 30px;
  }
  .center-wrap img {
  	max-width:300px;
  }
  .home-quote-wrap {
		width:100%;
	}
	.site-header .container {
		position:relative;
	}
}

@media (max-width: 643px) {
	.site-title {
    @include font-size-stack(30px);
	}


	#content .entry-header,
	#content .entry-content,
	#content .entry-summary,
	#content footer.entry-meta,
	#content .featured-gallery,
	.search.sidebar .page-content,
	.blog.sidebar .page-content,
	.sidebar .post-navigation .nav-links,
	.paging-navigation .nav-links,
	#content .author-info,
	.comments-area .comments-title,
	.comments-area .comment-list,
	.comments-area .comment-navigation,
	.sidebar .site-info,
	.sidebar .paging-navigation .nav-links {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Small menu */
	.menu-toggle {
		cursor: pointer;
		display: inline-block;
		position: absolute;
		right: 0;
		top: -52px;
		margin: 0;
		border:none;
	}
	.page-template-page-sales section.buildmove-nav .menu-toggle {
		display:none;
	}
	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		text-align: center;
		display: block;
		padding: 0;
		width: 100%;
	}

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu ul li {
		border-bottom: 0;
	}

	.toggled-on .nav-menu li > ul {
		background-color: transparent;
		display: none;
		float: none;
		position: relative;
		left: auto;
		top: auto;
	}

	.toggled-on .nav-menu li > ul a {
    color: lighten($color-nav-link, 20%);
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {
		background-color: transparent;
    color: $color-nav-link;
	}

	.toggled-on .nav-menu li a:hover,
	.toggled-on .nav-menu ul a:hover {
    background-color: $green;
		color: $darkgray;
	}

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}
	.page-template-page-sales section.buildmove-nav ul.nav-menu,
	.page-template-page-sales section.buildmove-nav div.nav-menu > ul {
		display:block;
	}

	.main-navigation .nav-menu {
		margin-top: 20px;
	}
	.page-template-page-sales section.buildmove-nav .main-navigation .nav-menu {
		margin-top:0;
	}

	.lead {
    @include font-size-stack(22px);
	}

	#content .featured-gallery {
		padding-left: 24px;
	}

	.gallery-columns-1 .gallery-item {
		margin-right: 0;
		width: 100%;
	}

	.error404 .page-title {
		padding: 40px 0 0;
	}

	.error404 .page-title:before {
		content: normal;
	}

	.comment-author {
		margin-right: 30px;
	}

	.comment-author .avatar {
		height: auto;
		max-width: 100%;
	}

	.comment-metadata,
	.comment-content,
	.comment-list .reply {
		width: 70%;
		width: -webkit-calc(100% - 104px);
		width:         calc(100% - 104px);
	}

	.comment-form input[type="text"],
	.comment-form input[type="email"],
	.comment-form input[type="url"] {
		width: -webkit-calc(100% - 120px);
		width:         calc(100% - 120px);
	}

	.comment-form textarea {
		height: 80px; /* Smaller field for mobile. */
	}

	img.alignleft,
	img.alignright,
	.entry-content img.alignleft,
	.entry-content img.alignright {
		display: block;
		float: none;
		margin: 0 auto 20px;
	}
	.home-quote-wrap {
		text-align: center;
	}
	.home-quote-wrap .home-quote-image {
		float:none;
		margin-right:0;
	}
	.home-quote-wrap .home-quote-image img {
		display:block;
		margin: 0 auto 20px;
	}
}
@media (max-width: 580px) {
	.site-footer .footer-logo {
		float:none;
		margin:40px auto;
	}
	.site-footer .social-media {
		float:none;
		text-align: center;
		margin-right:0;
	}
	.site-footer .site-info {
		width:100%;
		text-align: center;
		margin-left:0;
	}
	.opt-in-wrap input[type="text"], .opt-in-wrap input[type="email"] {
		width:100%;
	}

}
@media (max-width: 450px) {
  .columns {

    &.two {
      @include columns( 1 );
      @include column-gap( 0 );
    }
    &.three {
      @include columns( 1 );
      @include column-gap( 0 );
    }
    &.four {
      @include columns( 1 );
      @include column-gap( 0 );
    }
  }
  .testimonials .testimonial-slide .testimonial-thumbnail {
  	float:none;
  	display: block;
    margin: 0 auto 20px;
  }
  .opt-in-wrap h3 {
  	@include font-size-stack(18px);
  }
  .opt-in-wrap .optin-tag-wrap {
  	width: 320px;
  }
  .center-wrap img {
  	max-width:100%;
  }
  .opt-in-wrap h1 {
  	@include font-size-stack(32px);
  }
}
/* Mobile devices */
@media (max-width: 359px) {

  /* fixes issue on IOS where search bar does not expand. */
  .site-header .search-field:focus {
    @include font-size-stack(16px);
    min-width: 200px;
  }
	.gallery {
		margin-left: 0;
	}
	.gallery .gallery-item,
	.gallery-columns-2.gallery-size-thumbnail .gallery-item {
		max-width: none;
		width: 49%;
		width: -webkit-calc(50% - 4px);
		width:         calc(50% - 4px);
	}

	.gallery-columns-1.gallery-size-medium,
	.gallery-columns-1.gallery-size-thumbnail,
	.gallery-columns-2.gallery-size-thumbnail,
	.gallery-columns-3.gallery-size-thumbnail {
		display: block;
	}

	.gallery-columns-1 .gallery-item,
	.gallery-columns-1.gallery-size-medium .gallery-item,
	.gallery-columns-1.gallery-size-thumbnail .gallery-item {
		text-align: center;
		width: 98%;
		width: -webkit-calc(100% - 4px);
		width:         calc(100% - 4px);
	}

	.gallery-columns-3 .gallery-item:nth-of-type(3n),
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 4px;
	}

	.gallery br {
		display: none;
	}

	.gallery .gallery-item:nth-of-type(even) {
		margin-right: 0;
	}

	/* Comments */
	.comment-author {
		margin: 0 0 5px;
		max-width: 100%;
	}

	.comment-author .avatar {
		display: inline;
		margin: 0 5px 0 0;
		max-width: 20px;
	}

	.comment-metadata,
	.comment-content,
	.comment-list .reply {
		width: 100%;
	}
}
