/**
 * 7.5 Pages
 * ----------------------------------------------------------------------------
 */

 /* Home Page */

#home .hentry {
	padding-top: 0;
}
#home {
  h1.entry-title {
    display: none;
  }
  .podcast-wrapper {
    h1.entry-title {
      display: block;
    }
  }
}
.hero {
	padding-top: 186px;
	padding-bottom: 95px;
	border-bottom: 5px solid $green;
	display: none;
}
#home .hero {
	display:block;
}

#home .site-main {
	margin: 0 auto;
}
.home-video {
  margin:60px 0;
}
.left-side-wrap, .right-side-wrap {
	margin-top:70px;
}
.hero .box-title {
	@include font-size-stack(50px);
	max-width: 220px;
	line-height: 1;
	margin: 20px auto 8px;
}
.left-side-wrap .box-title, .right-side-wrap .box-title {
	color: $gray;
	text-transform: uppercase;
	text-align: center;
}
.left-side-wrap img, .right-side-wrap img, .center-wrap img {
	display:block;
	margin:0 auto;
	max-width: 100%;
}
.hero a.button {
	padding:5px 10px;
	color:$lightgray;
}
.hero a.button:hover {
	background-color: $darkgreen;
}
.opt-in-wrap.top, .arrow-down {
	display:none;
}
#home .opt-in-wrap.bottom, #home .arrow-up {
	display:none;
}
#home .opt-in-wrap.top, #home .arrow-down {
	display:block;
}
.opt-in-wrap {
	background-color: $darkgreen;
	margin-top: -9px; 
	text-align: center;
	padding: 20px;
}
.opt-in-wrap h1 {
	@include font-size-stack(35px);
	margin-top:8px;
	line-height: 1.1;
}
.opt-in-wrap h3 {
	float:left;
	clear:none;
	margin-top: 17px;
}
.opt-in-wrap h1, .opt-in-wrap h3 {
    color: $lightgray;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.opt-in-wrap .optin-copy {
	margin-bottom: 0;
}
.opt-in-wrap input[type="text"], .opt-in-wrap input[type="email"] {
	width: 30%;
	margin-right:10px;
}
.opt-in-wrap .button {
	border-color: $darkgray;
	color: $darkgray;
}
.opt-in-wrap p {
	margin-bottom:0;
}
.opt-in-wrap .button:hover {
	color: $green;
}
.opt-in-wrap .button-wrap.closed .optin-tag-wrap {
	width: 370px;
    margin: 0 auto;
}
.opt-in-wrap .button-wrap.opened .optin-tag-wrap {
	width: 270px;
    margin: 0 auto;
    display:none;
}
.opt-in-wrap .collapse.in + div.button-wrap.closed {
	display:none;
}
.opt-in-wrap .collapse.in ~ div.button-wrap.opened .optin-tag-wrap {
	display:block;
}
.opt-in-wrap .gift-bag {
	background: url(images/gift-bag.png);
    background-image: none,url(images/gift-bag.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 51px;
    width: 38px;
    float:left;
    margin-right:20px;
}
.opt-in-wrap.bottom {
	border-bottom: 5px solid $darkgray;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid $darkgreen;
	margin: 0 auto;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;	
	border-bottom: 30px solid $darkgreen;
	margin: 0 auto;
}
.home-quote-wrap {
	width: 700px;
	margin: 40px auto 0;
	font-family: nexa;
	font-size: 30px;
}
.home-quote-wrap .home-quote-image{
	float:left;
	margin-right:30px;
}
.home-quote-wrap .home-quote-image img {
	@include border-radius(80px);
	max-width: 150px;
}
.home-quote-wrap .home-quote-text {
	margin-top:20px;
}
.home-quote-wrap .home-quote-author {
	font-weight: bold;
	line-height: 0.8;
	margin-top:10px;
}
.features {
	display:none;
}
#home .features {
	display:none;
}
.feature-wrap {
	height:0;
	padding-bottom: 18%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position:relative;
  overflow: hidden;

  .feature-overlay {
      width: 100%;
      height: 0;
      background-color: rgba(59,173,81,0.65);
      padding-bottom: 76%;
      position: absolute;
      overflow: hidden;
  }
  &:hover {
    .feature-overlay {
      background-color: rgba(59,173,81,0.85);
      transition: all 400ms ease;
    }
  }
  .feature-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px;
    transform: translate(-50%, -50%);
  }
  .entry-title {
    text-align: center;
    margin-bottom:0;
    line-height: 1;
    font-size:inherit;
    transition: all 400ms ease;
    font-family: nexa_rust_sansblack;
  }
  .entry-title a {
    color: $darkgray;
    font-weight: 500;
    @include font-size-stack(22px);
    line-height: 1.2;

    @media (max-width:1400px) {
      @include font-size-stack(18px);
    }
    @media (max-width:1300px) {
      @include font-size-stack(16px);
      font-weight:normal;
    }
  }
  .post-tagline {
    color:$darkgray;
    text-align: center;
    opacity:0;
    height: 0;
    margin-bottom: 0;
    transition: all 400ms ease;

    p {
      @media (max-width:600px) {
        margin-bottom:10px;
      }
    }
  }
  &:hover {
    .post-tagline {
      display:block;
      opacity:1;
      height:auto;
      margin-bottom:20px;
      font-size: 15px;
        line-height: 1;
    }
  }
  .read-more {
    text-align: center;
    display:none;
    @media (max-width:600px) {
      margin-bottom:20px;
    }
  }
  &:hover .read-more {
    display:block;
  }
  .read-more .button {
    font-family: 'nexa';
    border-color: $darkgray;
    color: $darkgray;
    padding: 4px 9px;
  }
  .read-more .button:hover {
    color:$green;
  }

  .entry-date {
    text-align: center;
    font-style: italic;
    margin-bottom:0;
  }
  &:hover .entry-date {
    margin-bottom:10px;
  }
}

.home-feature {
  padding: 250px 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .feature-copy-wrap {
    .feature-copy {
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      h2 {
        margin-top: 0;
      }
      @include media("<=550px") {
        display:none;
      }
    }
    @include media("<=767px") {
      margin-right: 50%;
    }
  }
  &.mobile {
    display:none;
    background-color: rgba($black, 0.80);
    height: auto;
    padding: 30px;
    .feature-copy-wrap {
      margin-right: 0;
      .feature-copy {
        display: block;
        color: $white;
        h2 {
          margin-top: 0;
          color: $white;
        }
      }
    }
    @include media("<=550px") {
      display: block;
    }
  }
  @include media("<=1475px") {
    padding: 150px 100px;
  }
  @include media("<=1069px") {
    padding: 100px;
  }
  @include media("<=767px") {
    padding: 50px;
  }
  @include media("<=550px") {
    height: 0;
    padding: 0 0 50% 0;
  }
}

/* Blog Index */

.blog {
	background-color: $gray;
}
.category {
	background-color: $gray;
}
.search {
	background-color: $gray;
}

.blog .site-main {
	max-width: 100%;
	margin-top:74px;
}
.category .site-main {
	max-width: 100%;
	margin-top:74px;
}
.search .site-main {
	max-width: 100%;
	margin-top:74px;
}
.blog .entry-title {
	background-color: $darkgray;
	margin-bottom:0;
	padding: 20px;
}
.category .entry-title {
	background-color: $darkgray;
	margin-bottom:0;
	padding: 20px;
}
.search .entry-title {
	background-color: $darkgray;
	margin-bottom:0;
	padding: 20px;
}
.blog .feature-wrap .entry-title {
	background-color: transparent;
	padding: 0;

  a {
    @media (max-width:600px) {
      @include font-size-stack(24px);
    }
    @media (max-width:400px) {
      @include font-size-stack(20px);
    }
  }
}
.blog .feature-wrap .post-tagline {
    @media (max-width:400px) {
      display:none;
    }
}
.category .feature-wrap .entry-title {
	background-color: transparent;
	padding: 0;
}
.search .feature-wrap .entry-title {
	background-color: transparent;
	padding: 0;
}
.blog .arrow-up {
    margin-top: -21px;
    position: relative;
    z-index: 1;
}
.category .arrow-up {
    margin-top: -21px;
    position: relative;
    z-index: 1;
}
.search .arrow-up {
    margin-top: -21px;
    position: relative;
    z-index: 1;
}
.blog .sidebar-blog {
	text-align:center;
	padding: 20px 50px;
}
.category .sidebar-blog {
	text-align:center;
	padding: 20px 50px;
}
.search .sidebar-blog {
	text-align:center;
	padding: 20px 50px;
}
.blog .sidebar-blog input[type="search"] {
	margin-bottom: 0;
}
.category .sidebar-blog input[type="search"] {
	margin-bottom: 0;
}
.search .sidebar-blog input[type="search"] {
	margin-bottom: 0;
}
.blog .widget_categories, .blog .widget_search {
	display: inline-block;
	margin-bottom: 0;
}
.category .widget_categories, .category .widget_search {
	display: inline-block;
	margin-bottom: 0;
}
.search .widget_categories, .search .widget_search {
	display: inline-block;
	margin-bottom: 0;
}
.blog .widget_categories {
	position:relative;
	top:3px;
}
.category .widget_categories {
	position:relative;
	top:3px;
}
.search .widget_categories {
	position:relative;
	top:3px;
}
.blog .widget_categories .widget-title,
.blog .widget_categories ul,
.blog .widget_categories li {
	display:inline-block;
}
.category .widget_categories .widget-title,
.category .widget_categories ul,
.category .widget_categories li {
	display:inline-block;
}
.search .widget_categories .widget-title,
.search .widget_categories ul,
.search .widget_categories li {
	display:inline-block;
}
.blog .widget_categories .widget-title {
	color: #231f20;
    font-family: "nexa",Helvetica,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-right:20px;
}
.category .widget_categories .widget-title {
	color: #231f20;
    font-family: "nexa",Helvetica,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-right:20px;
}
.search .widget_categories .widget-title {
	color: #231f20;
    font-family: "nexa",Helvetica,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-right:20px;
}
.blog .widget_categories li {
	font-family: nexa_rust_sansblack;
	font-size: 20px;
    margin-right: 20px;
}
.category .widget_categories li {
	font-family: nexa_rust_sansblack;
	font-size: 20px;
    margin-right: 20px;
}
.search .widget_categories li {
	font-family: nexa_rust_sansblack;
	font-size: 20px;
    margin-right: 20px;
}

/* Sales Pages */

.page-template-page-sales {
  .site-header .container,
  .arrow-up,
  .opt-in-wrap,
  .testimonials,
  .site-footer,
  .entry-title,
  .entry-header {
  	display: none;
  }
  .hentry {
    padding-top: 0;
  }
  .opt-in-wrap {
    input[type="submit"] {
      border: 2px solid #fff;
    }
  }
}

.page-template-page-sales .hero {
	display:block;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
    padding-bottom: 37.56%;
}
.page-template-page-sales section {
	padding: 50px;
	h2 {
		color:$green;
	}
}
.speaker-bio-modals,
.page-template-page-sales section.green {
	background-color: $green;

  a.black {
    background-color:$darkgray;
    color:$green;
    &:hover, &:focus {
      background: lighten($darkgray,10);
      color: $green;
      outline: none;
    }
  }
  .modal-body {
    padding-top:0;
  }
  .modal-header {
    border:none;
    text-align:right;
    padding-top:0;
    padding-bottom:0;
    .close {
      @include font-size-stack(40px);
      font-weight:normal;
      color:$green;
      line-height:1;
      text-shadow:none;
      float:none;
      margin:0;
      opacity:1;
      &:hover {
        background:none;
        color:$green;
      }
      span {
        display:inline-block;
        line-height:1;
      }
    }
  }
  .modal-content {
    color:$green;
    border-radius:0;
    border:5px solid $green;
    text-align:center;
    h3 {
      margin-top:0;
      color:$darkgray;
    }
  }
}
.page-template-page-sales section.black {
	background-color: $darkgray;
	color: $lightgray;
}
.page-template-page-sales section.black h2 {
	color: $lightgray;
	@include font-size-stack(41px);
}
.page-template-page-sales section.black h2 strong {
	color: $green;
}
.page-template-page-sales section.green h2 {
	color: $darkgray;
}
.page-template-page-sales section.green h3 {
	color: $lightgray;
}
.page-template-page-sales section.green a {
	color: $darkgray;
}
.page-template-page-sales section.green a:hover {
	color: $darkgreen;
}
.page-template-page-sales section .row {
	max-width: $site-content-width-max;
	margin: 0 auto;
}
.page-template-page-sales .david-pic img {
	border: 10px solid $darkgray;
	@include media("<=991px") {
		display: block;
		margin: 0 auto 20px;
	}
}
.page-template-page-sales .intro-letter, 
.page-template-page-sales .my-story, 
.page-template-page-sales .framework,
.page-template-page-sales .constrain {
	max-width: $site-content-width-max;
	margin: 0 auto;
}
.page-template-page-sales .bonuses .content-container {
	max-width: $site-content-width-max;
	margin: 0 auto;
	h2 {
		color:$lightgray;
		margin-top:0;
		@include media("<=643px") {
			text-align: center;
		}
	}
}
.page-template-page-sales section.testimonials {
	display:block;
	padding-bottom:30px;
}
.page-template-page-sales section.testimonials .content-container {
	max-width: $site-content-width-max;
	margin: 0 auto;
}
.page-template-page-sales section.testimonials .testimonial-slide .testimonial-author {
	clear:none;
}
.page-template-page-sales section.testimonials .testimonial-bottom {
	display:none;
}

.page-template-page-sales section.testimonials .testimonial-slide .testimonial-thumbnail {
	margin-bottom:0;
}
.page-template-page-sales section.who-move-wrap {
	h2 {
		color:$green;
	}
	img {
		width:100%;
	}
	.be-there {
		padding-right:65px;
		@include media("<=991px") {
			padding-right:0;
		}
	}
	.button {
		color: $lightgray;
	}
	.button:hover {
		color:$green;
	}
}
.page-template-page-sales .event-wrap {
	background-image: url('/wp-content/uploads/2016/08/brower-center.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	padding: 100px 100px 100px 50px;
}
.page-template-page-sales .event-info {
    padding: 20px 40px;
    background-color: rgba(255,255,255,0.7);
}
.page-template-page-sales .guarantee {
	max-width:643px;
	margin:0 auto;
}
.page-template-page-sales .vip-option {
	h2 {
		color:$green;
		@include font-size-stack(30px);
	}
	.content-container {
		max-width: $site-content-width-max;
		margin: 0 auto;
	}
}
.page-template-page-sales .sales-box {
	border: 10px solid $green;
    padding: 10px 30px;
    margin-bottom: 30px;
}
.page-template-page-sales .attribution {
	font-size: 12px;
    text-align: center;
}
.page-template-page-sales section.black .button {
	color:#fff;
}
.page-template-page-sales section.black .button:hover {
	color:#37ad51;
}

/* Summit Sales page */
.page-id-244 {
  .site-main {
    display:none;
  }
  .testimonial-master-wrap  {
    background-color:$lightgray;
  }
}

/* Quiz */
.quiz-wrapper {
  max-width:70%;
  margin:0 auto;

  ul.gfield_radio {
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:inline-block;
      margin:0 20px;
      label {
        display:block;
      }
    }
  }

  #gquiz_confirmation_message {
    h1, h2, h3 {
      margin:0;
      padding:0;
    }
  }
}

/* summit page */
.sales-box {
  a.button {
    min-width:125px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
    del {
      transition:all 1s ease;
      font-size:80%;
    }
    &:hover {
      del {
        color:$green;
      }
    }
  }
}
.speakers {
  h5 {
    min-height:55px;
  }
}

/* Podcasts */
.page-template-page-podcasts {
  #primary {
    padding-top:40px;

    header.entry-header {
      margin-bottom:0;

      h1 {
        margin-bottom:0;
      }
    }
  }
}
.home,
.page-template-page-podcasts {
  .podcast-search-form {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
  }
  .powerpress_links {
    display:none;
  }
  .podcast-wrapper {
    margin:50px 0;
    .entry-thumbnail {
      overflow:hidden;
      width:100%;
      height:auto;
      //max-height:221px;
      img {
        //min-height:221px;
      }
    }
    .title-wrap {
      padding: 10px 25px 0;
      min-height:150px;
      h2 a {
        line-height:1.2;
        @media (max-width:945px) {
          @include font-size-stack(30px);
          line-height:1.2;
        }
        @media (max-width:800px) {
          @include font-size-stack(24px);
          line-height:1.2;
        }
      }
    }
    .excerpt-wrap {
      //background: #E6E6E6;
      padding: 10px 25px 55px;
      margin-top: -5px;
      font-size: 16px;
      font-size: 1.6rem;
      //height: 400px;

      .read-more {
        text-align:center;
      }
    }
    .col-sm-4 {
      min-height:700px;
    }
  }
  .podcast-wrap {
    border:1px solid $green;
    display:block;
    height:100%;
    margin-bottom:20px;
    /*
    min-height:825px;
    @media (max-width:1088px) {
      min-height:885px;
    }
    @media (max-width:880px) {
      min-height:910px;
    }
    @media (max-width:790px) {
      min-height:940px;
    }
    @media (max-width:767px) {
      min-height:0px;
    }
    */
  }
}

/* single podcats */
.powerpress_player {
  margin-bottom:20px;
}
.powerpress_links {
  display:inline-block;
  margin-right:20px;
}

/* Build-Move */

.page-template-page-sales section.buildmove-nav {
	padding: 15px;
	background-color: #078e57;
}
.page-template-page-sales section.buildmove-nav .navbar {
	border-left:none;
	float:none;
	margin: 0 auto;
	width:100%;
	text-align:center;
}
.page-template-page-sales section.buildmove-nav .nav-menu li a {
	color: #333;
}
.page-template-page-sales section.buildmove-nav .nav-menu li a:hover {
	color: #fff;
}

#buildmove-priority-waitlist {
  .hero {
    border-bottom: 5px solid $white;
    background-position: center;
  }
  .opt-in-wrap {
    background-color: #263285;
    .optin-copy {
      color: $white;
    }
    input[type="submit"] {
      color: $white;
    }
  }
  .thank-you-wrap {
    .button {
      border-color: #263285;
      &:hover {
        color: $white;
      }
    }
  }
}

