/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

body {
	background-color: $lightgray;
}

.site {
	margin: 0 auto;
	width: 100%;
}
.site-main {
	position: relative;
	max-width: $site-width-max; 
	width: auto;
	margin: 80px auto 0;
}
.site-main .sidebar-container {
	width: 100%;
	z-index: 1;
	padding: 40px 0;
}
#primary {
	padding: 0 30px;
}
.site-main .sidebar-inner {
	margin: 0 auto;
	max-width: 1040px;
}
.container {
	max-width: $site-width-max; 
	width: auto;
	margin: 0 auto;
	padding: 0 30px;
}
.page-template-page-sidebar-php #primary,
.blog #primary,
.archive #primary,
.tag #primary,
.single #primary {
	float: none;
	width: 100%;
}

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

 /* Transformicon */

$transition: 0.5s;// increase this to see the transformations happen in slow motion
$button-size : 3.2rem; 
//common to all three-liners
.lines-button {
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  background: transparent;
  border-bottom:none;

  &:hover {
    opacity: 1;
  }
  &:active {
  	background: transparent;
    transition: 0;
    -webkit-transform: translate(0px, 0px);
	  -moz-transform: translate(0px, 0px);
	  -ms-transform: translate(0px, 0px);
	  -o-transform: translate(0px, 0px);
  }
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color-link;
  border-radius: $button-size/14; 
  transition: $transition;
}

.lines {
  @include line;
  position: relative; 

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before { 
    top: $button-size/4; 
  }
  &:after { 
    top: -$button-size/4; 
  }
}

.lines-button.x.close{
  .lines {
    background: transparent;
    &:before, &:after{
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg); 
              transform: rotate3d(0,0,1,45deg); 
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg); 
              transform: rotate3d(0,0,1,-45deg); 
    }
  }
}

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.site-header {
	position: relative;
	background-image: url(images/hero-bg.jpg);
	background-size:cover;
	background-position: center top;
}
.site-header .container {
	max-width:100%;
	padding: 23px 23px 13px;
	background-color: rgba(35,31,32,0.9);
	position: fixed;
	z-index: 1000;
	width:100%;
}
.site-header .home-link a {
	color: $color-base;
	display: block;
	margin: 0 auto;
	max-width: $site-width-max;
	text-decoration: none;
	width: 100%;
}

.site-title {
  @include font-size-stack(60px);
	line-height: 1;
	margin: 5px 15px 0 0;
	background: url(images/regen360-logo-new.png);
    background-image: none,url(images/regen360-logo-new.svg);
    background-repeat: no-repeat;
    width:146px;
    height:50px;
    float:left;
    top: -8px;
    position: relative;
}

.site-title span {
	position: absolute;
	top: -99999px;
	left: -99999px;
}

.site-description {
	font: 24px $font-stack;
	margin: 0;
	display:none;
}
.site-header .social-media {
	float:right;
	margin-top:10px;
}
.site-header .social-media .widget_socialnetworkwidget {
	margin-bottom:0;
}

/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */
/* Navbar */
.navbar {
	border-radius: 0;
	min-height: 0;
	margin: 8px auto;
	width: 100%;
	padding: 0;
	float:left;
	width: 800px;
	border-left: 1px solid $gray;
}

.main-navigation {
	clear: both;
	margin: 0 auto;
	max-width: $site-width-max;
	position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
	font-family: nexa;
}

.nav-menu li a {
	color: #999;
	display: block;
  @include font-size-stack(20px);
	line-height: 1;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
	background-color: $color-nav-background;
	color: $white;
}

.nav-menu .sub-menu,
.nav-menu .children {
	background-color: $green;
	border-top: 0;
	display: none;
	padding: 0;
	position: absolute;
	z-index: 99999;
}
.nav-menu .sub-menu li:hover {
	background-color: $gray;
}
.nav-menu .sub-menu li:hover a {
	color:$green;
}


.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: $white;
	margin: 0;
	width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
	background-color: lighten($color-nav-background, 5%);
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
	display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: $color-nav-link-current;
}

.nav-menu .sub-menu .current_page_item > a,
.nav-menu .sub-menu .current_page_ancestor > a,
.nav-menu .sub-menu .current-menu-item > a,
.nav-menu .sub-menu .current-menu-ancestor > a {
	color: $white;
}

.nav-menu .sub-menu li a {
	line-height: 1.5;
}

.menu-toggle {
	display: none;
}

.navbar button {
	padding: 11px 0 10px;
}
.navbar button:hover, .navbar button:focus {
	background: transparent;
}

.site-header .search-form {
	position: absolute;
	right: 20px;
	top: 1px;
}

.site-header .search-field {
	background-color: transparent;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
  @include transition(width 400ms ease, background 400ms ease);
	width: 0;
}

.site-header .search-field:focus {
	background-color: $white;
	border: 2px solid $color-light;
	cursor: text;
	outline: 0;
	width: 230px;
}


/**
 * 5.0 Content
 * ----------------------------------------------------------------------------
 */

.lead {
	text-align: center;
}

.hentry {
	padding: 40px 0;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	max-width: $site-width-max;
	width: 100%;
	padding: 0;
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: $site-width-max;
	padding: 0 0 0 20px;
}


/**
 * 5.1 Entry Header
 * ----------------------------------------------------------------------------
 */

.sidebar .entry-header .entry-meta {
	padding: 0;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

.entry-header {
	margin-bottom: 30px;
}

.page-header {
	border-bottom: 0;
}

.entry-title {
  @include font-size-stack(36px);
	margin: 0 0 35px;
	color: $green;
	font-family: nexa_rust_sansblack;
	text-align: center;
	text-transform: uppercase;
}
.single .entry-title {
	margin-bottom: 5px;
}

.entry-title a {
  @include font-size-stack(36px);
	color: $color-link;
}

.entry-title a:hover {
	text-decoration: none;
	color: $color-link-hover;
}


/**
 * 5.2 Entry Meta
 * ----------------------------------------------------------------------------
 */

.entry-meta {
	clear: both;
  @include font-size-stack(14px);
	padding-left: 0;
	text-align: center;
}

.entry-meta .fa, 
.entry-meta a .fa, 
.entry-meta a {
	color: $color-link-meta;
}

.entry-meta a:hover {
	color: $color-link-meta-hover;
}

.entry-meta > span {
	margin-right: 20px;
}

.entry-meta > span:last-child {
	margin-right: 0;
}


.single-author .entry-meta .author {
	display: none;
}


/**
 * 5.3 Entry Content
 * ----------------------------------------------------------------------------
 */

.lead {
  @include font-size-stack(26px);
}

.entry-content {
  @include hyphens(none);
	word-wrap: break-word;
}

.entry-content blockquote {
  @include font-size-stack(24px);
}
.entry-content blockquote p {
	line-height: 1.5;
}

.entry-content blockquote cite,
.entry-content blockquote small {
  @include font-size-stack(16px);
}

footer.entry-meta {
	margin-top: 24px;
}

/* Page links */
.page-links {
	clear: both;
  @include font-size-stack(16px);
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: $white;
	border: 1px solid $white;
	padding: 5px 10px;
	text-decoration: none;
}

.page-links a {
	background: $color-link;
	border: 1px solid $color-link;
	color: $white;
}

.page-links a:hover {
	background: $white;
	color: $color-link-hover;
}

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/* Media Elements */
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background-color: $color-base;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: $white;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: $color-link;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: $color-base;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}


/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: $white;
  @include font-size-stack(14px);
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/**
 * 5.5 Attachments
 * ----------------------------------------------------------------------------
 */

.attachment .hentry {
	margin: 0;
	padding: 0;
}

.attachment .entry-header {
	margin-bottom: 0;
	max-width: $site-content-width-max;
	padding: 30px 0;
}

.attachment .entry-title {
	display: inline-block;
	float: left;
	font: 30px $font-stack;
	margin: 0;
}

.attachment .entry-title:before {
	content: "\f416";
  @include font-size-stack(32px);
	margin-right: 10px;
}

.attachment .entry-meta {
	clear: none;
	color: inherit;
	float: right;
	max-width: $site-inner-content-width-max;
	padding: 9px 0 0;
	text-align: right;
}

.hentry.attachment:not(.image-attachment) .entry-meta {
	max-width: 104px;
}

.attachment footer.entry-meta,
.single-attachment .site-main .sidebar-container {
	display: none;
}

.attachment-meta:before {
	content: "\f307";
}

.full-size-link a:before {
	content: "\f402";
}

.full-size-link:before {
	content: none;
}

.attachment .entry-meta a,
.attachment .entry-meta .edit-link:before,
.attachment .full-size-link:before {
	color: $color-link;
}

.attachment .entry-content {
	max-width: 100%;
	padding: 40px 0;
}

.image-navigation {
	margin: 0 auto;
	max-width: $site-content-width-max;
	position: relative;
}

.image-navigation a:hover {
	text-decoration: none;
}

.image-navigation .nav-previous,
.image-navigation .nav-next {
	position: absolute;
	top: 50px;
}

.image-navigation .nav-previous {
	left: 0;
}

.image-navigation .nav-next {
	right: 0;
}

.image-navigation .meta-nav {
  @include font-size-stack(32px);
	vertical-align: -4px;
}

.attachment .entry-attachment,
.attachment p.attachment {
	margin: 0 auto;
	max-width: 724px;
	text-align: center;
}

.attachment .entry-attachment .attachment {
	display: inline-block;
}

.attachment .entry-caption {
	text-align: left;
}

.attachment .entry-description {
	margin: 20px auto 0;
	max-width: $site-inner-content-width-max;
}

.attachment .entry-caption p:last-child,
.attachment .entry-description p:last-child {
	margin: 0;
}

img.circle-pic {
	border-radius: 100%;
}

/**
 * 5.6 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */

.navigation .nav-previous {
float: left;
}

.navigation .nav-next {
float: right;
}

.navigation a {
	color: $color-link;
}

.navigation a:hover {
	color: $color-link-hover;
  text-decoration: none;
}

.paging-navigation {
  padding: 40px 0;
}

.paging-navigation .nav-links {
  margin: 0 auto;
  max-width: $site-inner-content-width-max;
  width: 100%;
}

.paging-navigation .nav-next {
  padding: 13px 0;
}

.paging-navigation a {
  @include font-size-stack(16px);
}

.paging-navigation .nav-next {
  padding: 0;
}

.post-navigation {
  color: $color-link;
  @include font-size-stack(16px);
  padding: 20px 0;
}

.post-navigation .nav-links {
  margin: 0 auto;
}

.post-navigation a[rel="next"] {
  float: right;
  text-align: right;
}


/**
 * 5.7 Author Bio
 * ----------------------------------------------------------------------------
 */

.author-info {
	margin: 0 auto;
	max-width: $site-inner-content-width-max;
	padding: 30px 0 10px;
	text-align: left;
	width: 100%;
}

.author.sidebar .author-info {
	max-width: $site-content-width-max;
	padding: 30px 376px 10px 60px;
}

.single .author-info {
	padding: 50px 0 0;
}

.author-avatar .avatar {
	float: left;
	margin: 0 30px 30px 0;
}

.author-description .author-title {
	clear: none;
	font: 20px $font-stack;
	margin: 0 0 8px;
}

.author-link {
	color: $color-link;
	margin-left: 2px;
}

.author.archive .author-link {
	display: none;
}


/**
 * 5.8 Archives
 * ----------------------------------------------------------------------------
 */

.archive-title,
.archive-meta {
	font: 30px $font-stack;
	margin: 0 auto;
	max-width: $site-content-width-max;
	padding: 30px 0;
	width: 100%;
}

.archive-meta {
  @include font-size-stack(16px);
	margin-top: -15px;
	padding: 0 0 11px;
}

.sidebar .archive-meta {
	padding-right: 316px;
}


/**
 * 5.9 Search Results/No posts
 * ----------------------------------------------------------------------------
 */

.page-title {
	font: 30px $font-stack;
	margin: 0 auto;
	max-width: $site-content-width-max;
	padding: 30px 0;
	width: 100%;
}

.page-content {
	margin: 0 auto;
	max-width: $site-inner-content-width-max;
	padding: 40px 0;
	width: 100%;
}

.sidebar .page-content {
	margin: 0 auto;
	max-width: $site-content-width-max;
	padding: 40px 376px 40px 60px;
}


/**
 * 5.10 404
 * ----------------------------------------------------------------------------
 */

.error404 #primary {
	width: 100%;
}

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding: 190px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: darken($color-light, 3%);
	content: "\f423";
  @include font-size-stack(964px);
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 7px;
	top: 28px;
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	max-width: $site-content-width-max;
	padding-bottom: 40px;
	width: 100%;
}


/**
 * 5.11 Comments
 * ----------------------------------------------------------------------------
 */

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: $site-width-max;
	width: 100%;
}

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
	max-width: $site-width-max;
	padding-left: 20px;
	padding-right: 376px;
}

.comments-title {
	font: 28px $font-stack;
}

.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(images/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
}

.comment-author {
	float: left;
	max-width: 74px;
}

.comment-author .avatar {
	display: block;
	margin-bottom: 10px;
}

.comment-author .fn {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: $color-link;
  @include font-size-stack(14px);
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	float: right;
	width: 79%;
	width: -webkit-calc(100% - 124px);
	width:         calc(100% - 124px);
}

.comment-meta,
.comment-meta a {
	color: $color-base;
  @include font-size-stack(13px);
}

.comment-meta a:hover {
	color: $color-link-hover;
}

.comment-metadata {
	margin-bottom: 20px;
}

.ping-meta {
  @include font-size-stack(13px);
	line-height: 2;
}

.comment-awaiting-moderation:before {
	content: "\f414";
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 3px;
}

/* Comment form */
.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title {
	font: 28px $font-stack;
}

.comment-reply-title small a {
	color: $color-link;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.comment-reply-title small a:hover {
	color: $color-link-hover;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: $color-link;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: $color-base;
  @include font-size-stack(12px);
	display: none;
}

.form-allowed-tags code {
  @include font-size-stack(10px);
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
  @include font-size-stack(20px);
	margin: 0 auto;
	max-width: $site-inner-content-width-max;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: $color-light;
  @include font-size-stack(20px);
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}


/**
 * 5.12 Multisite
 * ----------------------------------------------------------------------------
 */

.site-main .mu_register {
	margin: 0 auto;
	max-width: $site-inner-content-width-max;
	width: 100%;
}

.mu_alert {
	margin-top: 25px;
}

.site-main .mu_register input[type="submit"],
.site-main .mu_register #blog_title,
.site-main .mu_register #user_email,
.site-main .mu_register #blogname,
.site-main .mu_register #user_name {
	font-size: inherit;
	width: 270px;
}

.site-main .mu_register input[type="submit"] {
	width: auto;
}


/**
 * 6.0 Sidebar
 * ----------------------------------------------------------------------------
 */

.site-main .widget-area {
	float: right;
	width: 33%;
}


/**
 * 6.1 Widgets
 * ----------------------------------------------------------------------------
 */

.widget {
  @include hyphens(none);
	margin: 0 0 24px;
	word-wrap: break-word;
}

.widget .widget-title {
	font: 20px $font-stack;
	margin: 0 0 10px;
}

.widget ul,
.widget ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.widget li {
	padding: 5px 0;
}

.widget .children li:last-child {
	padding-bottom: 0;
}

.widget li > ul,
.widget li > ol {
	margin-left: 20px;
}

.widget a {
	color: $color-link;
}

.widget a:hover {
	color: $color-link-hover;
}

/* Search widget */
.search-form .search-submit {
	display: none;
}

/* RSS Widget */
.widget_rss .rss-date {
	display: block;
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
}

.widget_calendar caption {
  @include font-size-stack(14px);
	margin: 0;
}

.widget_calendar th,
.widget_calendar td {
	padding: 0;
	text-align: center;
}

.widget_calendar a {
	display: block;
}

.widget_calendar a:hover {
	background-color: rgba(0, 0, 0, 0.15);
}

.widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.5);
}

.site-footer .widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
	background-color: transparent;
}

/* Social Media Widget */
.solamar-social-network-widget [class^="fa-"],
.solamar-social-network-widget [class*="fa-"] {
	width: auto;
	height: auto;
	margin: 0 5px;
}
.solamar-social-network-widget .fa:before {
  @include font-size-stack(22px);
}


/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

.page-template-page-sales .testimonial-master-wrap {
}
.page-template-page-sales .testimonial-master-wrap,
.testimonials {
	background-color: $green;
	padding: 40px;
  min-height:309px;
  .testimonial-content-wrap {
    padding-left:5px;
  }
  .testimonial-tag-wrap {
    border-right: 2px solid $darkgray;
    @media (max-width:767px) {
      border-right:none; 
      border-bottom: 2px solid $darkgray;
    }
  }
  .testimonial-tag-wrap .heart {
    background: url(images/heart.png);
    background-image: none, url(images/heart.svg);
    background-repeat: no-repeat;
    height: 57px;
    width:63px;
    float:right;

    @media (max-width:767px) {
      float:none;
      text-align: center;
      margin:0 auto;
    }
  }
  .widget-title {
    display:none;
  }
   #testimonial-slideshow {
    padding-top:0;
    margin-bottom:0;
    padding-left: 10px;
  }

  .testimonial-tag-wrap .testimonial-tag {
    float:right;
    text-align: right;
    font-family: nexa_rust_sansblack;
    @include font-size-stack(24px);
    padding-left:8%;

    @media (max-width:767px) {
      float:none;
      text-align: center;
    }
  }
  .testimonial-slide {
    width: 100% !important;

    .testimonial-thumbnail {
      float:left;
      padding: 0;
      margin-right:20px;
    }
    .testimonial-thumbnail img {
      @include border-radius(80px);
    }
    .testimonial-content, .testimonial-author, .testimonial-title, div, p {
      @include font-size-stack(22px);
      font-family: nexa;
    }
    .testimonial-content, .testimonial-author, .testimonial-title {
      font-style: normal;
    }
    div, p {
      font-style: italic;
      font-family: clear_sans;
    }
    .testimonial-author {
      font-weight: bold;
    }
    .testimonial-author, .testimonial-title {
      text-transform: uppercase;
      display:inline-block;
      margin-top:15px;
    }
    .testimonial-slide-content p {
      margin-bottom:0;
    }
  }
  .testimonial-top,
  .testimonial-bottom {
    display:none;
  }
}
.site-footer {
	background-color: $darkgray;
	background-image: url(images/hero-bg.jpg);
	background-size: cover;
	text-align: left;
	clear: both;
}
.site-footer .social-media {
	float:right;
	margin-top:30px;
	margin-right:20px;
}

.site-footer .widget-area,
.sidebar .site-footer {
	text-align: left;
}

.site-footer a {
	color: $color-link-hover;
}
.site-footer .wrap {
	max-width:100%;
	padding:10px;
	background-color: rgba(35,31,32,0.8);
}

.site-footer .sidebar-container {
	background-color: $color-light;
	padding: 40px 0;
}

.site-footer .widget-area {
	margin: 0 auto;
	max-width: $site-width-max;
	width: 100%;
}

.sidebar .site-footer .widget-area {
	max-width: $site-width-max;
	position: relative;
}

.sidebar .site-footer .widget:nth-of-type(4),
.sidebar .site-footer .widget:nth-of-type(3) {
	margin-right: 0;
}

.footer-logo {
  background: url(images/regen360-logo-new.png);
  background-image: none, url(images/regen360-logo-new.svg);
  background-repeat: no-repeat;
  width: 146px;
  height: 50px;
  float:left;
  margin-top:20px;
  margin-left:20px;
  position:relative;
  top:-6px;
}

.site-info {
  @include font-size-stack(15px);
	margin: 0 auto;
	padding: 22px 20px 20px;
	float:left;
	color: $lightgray;
	width:270px;
	line-height: 1.2;
}

#wpstats {
	display: block;
	margin: -10px auto 0;
}

