@font-face {
	font-family: 'solafont';
	src:url('solafonts/solafont.eot');
	src:url('solafonts/solafont.eot?#iefix') format('embedded-opentype'),
		url('solafonts/solafont.svg#solafont') format('svg'),
		url('solafonts/solafont.woff') format('woff'),
		url('solafonts/solafont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-sicon]:before {
	font-family: 'solafont';
	content: attr(data-sicon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="sicon-"]:before, [class*=" sicon-"]:before {
	font-family: 'solafont';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.sicon-mail:before {
	content: "\2a";
}
.sicon-mail-2:before {
	content: "\2b";
}
.sicon-mail-3:before {
	content: "\35";
}
.sicon-google-plus:before {
	content: "\32";
}
.sicon-gplus:before {
	content: "\34";
}
.sicon-google-plus-2:before {
	content: "\33";
}
.sicon-facebook:before {
	content: "\26";
}
.sicon-facebook-2:before {
	content: "\28";
}
.sicon-facebook-3:before {
	content: "\27";
}
.sicon-twitter:before {
	content: "\23";
}
.sicon-twitter-2:before {
	content: "\25";
}
.sicon-twitter-3:before {
	content: "\24";
}
.sicon-feed:before {
	content: "\2c";
}
.sicon-feed-2:before {
	content: "\2e";
}
.sicon-feed-3:before {
	content: "\2d";
}
.sicon-vimeo:before {
	content: "\30";
}
.sicon-vimeo-circle:before {
	content: "\31";
}
.sicon-vimeo-2:before {
	content: "\21";
}
.sicon-flickr:before {
	content: "\22";
}
.sicon-flickr-2:before {
	content: "\29";
}
.sicon-flickr-3:before {
	content: "\2f";
}
.sicon-wordpress:before {
	content: "\36";
}
.sicon-wordpress-2:before {
	content: "\37";
}
.sicon-pinterest:before {
	content: "\38";
}
.sicon-pinterest-2:before {
	content: "\39";
}
.sicon-pinterest-3:before {
	content: "\3a";
}
.sicon-linkedin-plain:before {
	content: "\3b";
}
.sicon-linkedin-circle:before {
	content: "\3c";
}
.sicon-linkedin:before {
	content: "\3d";
}
.sicon-youtube:before {
	content: "\3e";
}
.sicon-youtube-circle:before {
	content: "\3f";
}
.sicon-youtube-square:before {
	content: "\40";
}
.sicon-solamar:before {
	content: "\41";
}
.sicon-diamonds:before {
	content: "\42";
}
.sicon-left-quote:before {
	content: "\43";
}
.sicon-right-quote:before {
	content: "\44";
}
.sicon-arrow-up:before {
	content: "\45";
}
.sicon-arrow-right:before {
	content: "\46";
}
.sicon-arrow-down:before {
	content: "\47";
}
.sicon-arrow-left:before {
	content: "\48";
}
.sicon-arrow-left-alt1:before {
	content: "\49";
}
.sicon-arrow-right-alt1:before {
	content: "\4a";
}
.sicon-arrow-up-alt1:before {
	content: "\4b";
}
.sicon-arrow-down-alt1:before {
	content: "\4c";
}
.sicon-arrow-left-2:before {
	content: "\4d";
}
.sicon-arrow-right-2:before {
	content: "\4e";
}
.sicon-arrow-up-2:before {
	content: "\4f";
}
.sicon-arrow-down-2:before {
	content: "\50";
}
.sicon-comment:before {
	content: "\51";
}
.sicon-comment-alt2-stroke:before {
	content: "\52";
}
.sicon-comment-alt2-fill:before {
	content: "\53";
}
.sicon-map-pin-stroke:before {
	content: "\54";
}
.sicon-map-pin-fill:before {
	content: "\55";
}
.sicon-instagram-circle:before {
	content: "\56";
}
.sicon-instagram-square:before {
	content: "\58";
}
.sicon-instagram-plain:before {
	content: "\57";
}
.sicon-menu:before {
	content: "\59";
}