// Convert pixels to rems
// eg. for a relational value of 12px write rem(12)
// Assumes $em-base is the font-size of <html>

@function srem($pxval) {
  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }

  $base: $rem-base;
  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

// create classes show-N
@for $i from 0 through 60 {
  .hide.#{show}-#{$i}.level-zero { display:block !important; }
}

// create classes show-N
@for $i from 61 through 74 {
  .hide.#{show}-#{$i}.level-one { display:block !important; }
}

// create classes show-N
@for $i from 75 through 89 {
  .hide.#{show}-#{$i}.level-two { display:block !important; }
}

// create classes show-N
@for $i from 90 through 100 {
  .#{hide}.#{show}-#{$i}.#{level-three} { display:block !important; }
}

// create classes font-N
@for $i from 1 through 120 {
  .#{font}-#{$i} { font-size: $i + px; font-size:mysrem($i); }
}
// create classes letterspacing-N for letter spacing
@for $i from 1 through 90 {
  $n: $i / 100;
  .#{letterspacing}-#{$i} { letter-spacing: $n + rem; }
}
// create classes lineheight-N for line height
@for $i from 5 through 30 {
  $n: $i / 10; 
  .#{lineheight}-#{$i} { letter-spacing: $n; }
}

// create classes for padding
@for $i from 1 through 200 {
  $mod: $i % 5;
  @if $mod == 0 {
    .#{vpad}-#{$i} { padding-top:$i + px !important; padding-bottom:$i + px !important; }
  }
}
@for $i from 1 through 200 {
  $mod: $i % 5;
  @if $mod == 0 {
    .#{hpad}-#{$i} { padding-left:$i + px !important; padding-right:$i + px !important; }
  }
}

// set max-width
@for $i from 150 through 900 {
  $mod: $i % 5;
  @if $mod == 0 {
    .#{maxwide}-#{$i} { max-width:$i + px; }
  }
}
