/**
 * Global variables
 */

/* Typography */

@font-face {
    font-family: 'nexa';
    src: url('fonts/nexa_free_bold-webfont.eot');
    src: url('fonts/nexa_free_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_free_bold-webfont.woff2') format('woff2'),
         url('fonts/nexa_free_bold-webfont.woff') format('woff'),
         url('fonts/nexa_free_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_free_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nexa';
    src: url('fonts/nexa_free_light-webfont.eot');
    src: url('fonts/nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_free_light-webfont.woff2') format('woff2'),
         url('fonts/nexa_free_light-webfont.woff') format('woff'),
         url('fonts/nexa_free_light-webfont.ttf') format('truetype'),
         url('fonts/nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('fonts/ClearSans-Regular-webfont.eot');
    src: url('fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('fonts/ClearSans-Italic-webfont.eot');
    src: url('fonts/ClearSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Italic-webfont.woff') format('woff'),
         url('fonts/ClearSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'clear_sans';
    src: url('fonts/ClearSans-Bold-webfont.eot');
    src: url('fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans';
    src: url('fonts/ClearSans-BoldItalic-webfont.eot');
    src: url('fonts/ClearSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ClearSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/ClearSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/ClearSans-BoldItalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'nexa_rust_sansblack';
    src: url('fonts/nexa_rust_sans_black-webfont.eot');
    src: url('fonts/nexa_rust_sans_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_rust_sans_black-webfont.woff') format('woff'),
         url('fonts/nexa_rust_sans_black-webfont.ttf') format('truetype'),
         url('fonts/nexa_rust_sans_black-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}



$font-stack: "clear_sans", Helvetica, sans-serif;
$font-stack-headers: "nexa", Helvetica, sans-serif;
$font-stack-code: monospace, serif;

/* Sizes */
$em-base: 10px;
$rem-base: 10px;

/* Colors */
$white: rgb(255,255,255);
$black: rgb(30, 30, 30);
$lightgray:	rgb(216, 216, 216);
$gray:	rgb(102, 102, 102);
$darkgray: rgb(35, 31, 32);
$blue:	rgb(66, 97, 203);
$green:	rgb(55, 173, 81);
$darkgreen:	rgb(7, 142, 87);
$navy:	rgb(21, 0, 127);
$lightblue:	rgb(241, 245, 255);

$color-base: $darkgray;
$color-light: $lightblue;
$color-placeholder: $gray;
$color-selection: $darkgray;
$color-heading: $darkgray;

$color-link: $green;
$color-link-hover: $darkgreen;

$color-link-meta: $green;
$color-link-meta-hover: $darkgreen;

$color-nav-link: $gray;
$color-nav-background: transparent;
$color-nav-link-current: $green;

$color-button: $green;

/* Structure */
$site-width-max: 1100px;
$site-content-width-max: 1040px;
$site-content-width-narrow: 604px;
$site-inner-content-width-max: 1040px;
