@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing( $val ) {
	-webkit-box-sizing: $val;
	-moz-box-sizing:    $val;
	box-sizing:         $val;
}

@mixin text-size-adjust( $text-size-adjust ) {
	-webkit-text-size-adjust: $text-size-adjust;
	-ms-text-size-adjust: $text-size-adjust;
}

@mixin font-size-stack( $size-val ) {
    font-size:$size-val;font-size:srem($size-val);
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
