/* Typography */
/* General */
/* Clearing floats */
/* Text treatment */
/* Assistive text */
/* Form fields, general styles first. */
/* Buttons */
/* Placeholder text color -- selectors need to be separate to work. */
/* Responsive images */
/* Images */
/* Fluid Width Video */
/* Layout */
/* columns */
/* spacing */

/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 *
 * Typography 
 * Clearing floats 
 * Form fields, general styles first
 * Buttons
 * Responsive images
 * Images
 * Fluid Width Video
 * Columns
 * Padding 
 * Layouts
 * Effects
 * Colors
 */

/* Typography */
b,
strong,
dt,
th,
.site-title,
.entry-title,
.screen-reader-text:focus,
label {
	font-weight: bold;
}
i,
em,
address,
dfn,
blockquote {
	font-style: italic;
}
b i,
i b,
b em,
em b,
strong i,
i strong,
strong em,
em strong {
}

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: $color-light;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: $color-link;
	display: block;
  @include font-size-stack(14px);
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Form fields, general styles first. */
button,
input,
textarea {
	font-weight: normal;
	border: 0;
	font-family: inherit;
	padding: 10px;
}

input,
textarea {
	color: $color-base;
}

input:focus,
textarea:focus {
	outline: 0;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel] {
  width:80%;
}
textarea {
  width:90%;
}

input,
textarea,
body .gform_wrapper input[type=text], body .gform_wrapper input[type=url], body .gform_wrapper input[type=email], body .gform_wrapper input[type=tel], body .gform_wrapper input[type=number], body .gform_wrapper input[type=password] {
  @include font-size-stack(14px);
  font-family: inherit;
  letter-spacing: normal;
  background: $color-light;
	border: 0;
 	border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  outline-style: none;
  margin-bottom: 10px;
  padding: 10px;
}

ul.gform_fields {
  list-style:none;
}
ul.gform_fields li {
  margin-bottom:20px;
}


/* Buttons */
span.button,
a.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	font-family: $font-stack-headers;
  @include font-size-stack(18px);
	letter-spacing: 1px;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid $color-button;
	border-radius: 2px;
	color: $darkgray;
	display: inline-block;
	padding: 7px 14px;;
	text-decoration: none;
  @include transition(all 1s ease);

  &:visited {
    background: $color-button;
    color: $darkgray;
  }
  &:hover, &:focus {
    background: $darkgray;
    color: $green;
    outline: none;
  }
  &:active {
    background: $color-button;
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
  }

}
.post-password-required input[type="submit"] {
	padding: 7px 24px 4px;
	vertical-align: bottom;
}

.post-password-required input[type="submit"]:active {
	padding: 5px 24px 6px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: $color-placeholder;
}

:-moz-placeholder {
	color: $color-placeholder;
}

::-moz-placeholder {
	color: $color-placeholder;
}

:-ms-input-placeholder {
	color: $color-placeholder;
}

/* Hide WOW Flash */

.wow {
  visibility: hidden;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  @include font-size-stack(18px);
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

/* Fluid Width Video */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
 	top: 0; left: 0;
  width: 100%;
  height: 100%;
}

/* Layout */
.center-element {
  margin-left:auto;
  margin-right:auto;
}

.blackBorder {
  border: 10px solid $darkgray;
}

/* table sorter on podcast page */

.tablesorter {
  border:none;

  .header {
    strong {
      font-family: "nexa",Helvetica,sans-serif;
      @include font-size-stack(18px);
      margin-right:20px;
    }
  }
  th {
    display:inline-block;
    margin-right:20px;
    margin-bottom:20px;
  }
  tbody {
    tr {
      display:block;
      float:left;
      width:33%;
    }
    td {
      border:none;
      display:inline-block;
    }
  }
}
.spacer {
  float:left;
  display:block;
  clear:none;
  width:100%;
}

/* Columns */
.columns {

  &.two {
    @include columns( 2 );
    @include column-gap( 60px );
  }
  &.three {
    @include columns( 3 );
    @include column-gap( 30px );
  }
  &.four {
    @include columns( 4 );
    @include column-gap( 15px );
  }

  ul, p, div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin:0;
    padding-bottom:24px;
  }
}

/* podcast grids */

.display-grid {
  display:flex;
  justify-content:space-between;
  align-items:stretch;
  flex-wrap:wrap;
  @media(max-width:100px) {
    display:block;
  }

  .item {
    flex-basis:31%;
    margin-bottom:30px;

    @media(max-width:900px) {
      flex-basis:100%;
      width:100%;
    }
  }
}

/* spacing */

.trim {
  margin-top:0 !important;
  margin-bottom:0 !important;
  padding-top:0 !important;
  padding-bottom:0 !important;
}

/* Colors */

.white {
  color:$white;
}
.black {
  color:$black;
}
.lightgray {
  color:$lightgray;
}
.gray {
  color:$gray;
}
.blue {
  color:$blue;
}
.green {
  color:$green;
}
