/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

* {
  @include box-sizing(border-box);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: $em-base;
	overflow-y: scroll;
  @include text-size-adjust(100%);
}

html,
button,
input,
select,
textarea {
	font-family: $font-stack; 
}

body {
	font-family: $font-stack; 
  @include font-size-stack(16px);
	color: $color-base;
	line-height: 1.5;
	margin: 0;
}

a {
	color: $color-link;
	text-decoration: none;
}

a:focus {
	color: $color-link;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active {
	text-decoration: none;
	color: $color-link-hover;
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font-stack-headers; 
	line-height: 1.3;
	color: $color-heading;
}

h1 {
  @include font-size-stack(48px);
	margin: 33px 0;
}

h2 {
  @include font-size-stack(30px);
	margin: 25px 0;
}

h3 {
  @include font-size-stack(22px);
	margin: 22px 0;
}

h4 {
  @include font-size-stack(20px);
	margin: 25px 0;
}

h5 {
  @include font-size-stack(18px);
	margin: 30px 0;
}

h6 {
  @include font-size-stack(16px);
	margin: 36px 0;
}

address {
	font-style: normal;
	margin: 0 0 24px;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: normal;
}

dfn {
	font-style: normal;
}

mark {
	background: #ff0;
	color: $color-base;
}

p {
	margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
	font-family: $font-stack-code; 
  @include font-size-stack(14px);
  @include hyphens(none);
}

code {
	white-space: normal;
}

pre {
	background: #f5f5f5;
	color: $color-base;
	font-family: $font-stack-code; 
  @include font-size-stack(14px);
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
  @include hyphens(none);
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
  @include font-size-stack(18px);
	font-style: normal;
	border-left: 5px solid $color-light; 
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
  @include font-size-stack(14px);
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em,
blockquote i {
	font-style: normal;
}

small {
	font-size: smaller;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 25%;
	top: -2.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: normal;
}

dd {
	margin: 0 0 20px;
}

menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul {
	list-style-type: square;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include appearance(button);
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
  @include appearance(textfield);
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: auto;
}

input[type="search"]::-webkit-search-decoration {
  @include appearance(none);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
  @include font-size-stack(14px);
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
  @include font-size-stack(16px);
	margin: 20px 0;
}

th {
	font-weight: normal;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del {
	color: $color-base;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	border: 0;
	border-bottom: 2px solid $darkgray;
	height: 1px;
	margin: 80px auto;
	max-width: 300px;
}
hr:before {
    content: url(images/hr-leaf.png);
    text-align: center;
    display: block;
    position: relative;
    top: -40px;
}
::-moz-selection { background: $color-selection; color: #fff; text-shadow: none; }
::selection { background: $color-selection; color: #fff; text-shadow: none; }

/* Bootstrap resets */
[class^="col-"], [class*="col-"] {
	padding-left: 0;
}
.row, .row .row {
	margin-left: 0;
	margin-right: 0;
}

